openapi: 3.1.0
info:
  title: 'LandingAI Agentic Document Extraction (ADE) API v1: Parse, Extract, Classify, Split, Section Classes Snapshot API'
  version: 0.1.0
  description: 'Convert documents such as PDFs, images, and Office files into structured data with LandingAI''s Agentic Document Extraction (ADE) v1 endpoints. Includes Parse (documents to Markdown and structured chunks with grounding), Extract (schema-based field extraction), Classify (page-level classification), Split (separate multi-document files), and Section (hierarchical table of contents), plus asynchronous jobs for parsing and extraction. Documentation: https://docs.landing.ai'
servers:
- url: https://api.va.landing.ai
  description: Production vision tools API
tags:
- name: Snapshot
paths:
  /v1/projects/{project_id}/dataset/snapshots:
    get:
      tags:
      - Snapshot
      summary: List Snapshots
      operationId: list_snapshots_v1_projects__project_id__dataset_snapshots_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_list_SnapshotItem__'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/dataset/snapshots/{snapshot_version}/export:
    post:
      tags:
      - Snapshot
      summary: Post Snapshot Export
      operationId: post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post
      parameters:
      - name: snapshot_version
        in: path
        required: true
        schema:
          type: integer
          title: Snapshot Version
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_SnapshotExportItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Snapshot
      summary: Get Snapshot Export
      operationId: get_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_get
      parameters:
      - name: snapshot_version
        in: path
        required: true
        schema:
          type: integer
          title: Snapshot Version
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/SnapshotInput'
              - type: 'null'
              title: Snapshot Input
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_SnapshotExportItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/dataset/snapshots/{snapshot_version}/metadata:
    get:
      tags:
      - Snapshot
      summary: Get Snapshot Metadata
      operationId: get_snapshot_metadata_v1_projects__project_id__dataset_snapshots__snapshot_version__metadata_get
      parameters:
      - name: snapshot_version
        in: path
        required: true
        schema:
          type: integer
          title: Snapshot Version
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/SnapshotInput'
              - type: 'null'
              title: Snapshot Input
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_SnapshotExportItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SnapshotInput:
      properties:
        signedCsvInfo:
          type: boolean
          title: Signedcsvinfo
          default: false
      type: object
      title: SnapshotInput
    Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post:
      properties:
        retry:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Retry
          default: false
      type: object
      title: Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post
    SnapshotExportStatus:
      type: string
      enum:
      - Started
      - In Progress
      - Completed
      - Failed
      title: SnapshotExportStatus
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SnapshotItem:
      properties:
        name:
          type: string
          title: Name
        version:
          type: integer
          title: Version
        creationTime:
          type: string
          title: Creationtime
      type: object
      required:
      - name
      - version
      - creationTime
      title: SnapshotItem
    SnapshotExportItem:
      properties:
        status:
          anyOf:
          - $ref: '#/components/schemas/SnapshotExportStatus'
          - type: 'null'
        downloadUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Downloadurl
        downloadExpiresAt:
          anyOf:
          - type: string
          - type: 'null'
          title: Downloadexpiresat
          readOnly: true
      type: object
      required:
      - downloadExpiresAt
      title: SnapshotExportItem
    BaseResponse_SnapshotExportItem_:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/SnapshotExportItem'
          - type: 'null'
      type: object
      required:
      - data
      title: BaseResponse[SnapshotExportItem]
    BaseResponse_list_SnapshotItem__:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/SnapshotItem'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: BaseResponse[list[SnapshotItem]]
  securitySchemes:
    Basic Auth:
      type: http
      description: 'Your unique API key for authentication.


        Get your API key here: https://va.landing.ai/settings/api-key.


        If using the EU endpoint, get your API key here: https://va.eu-west-1.landing.ai/settings/api-key.'
      scheme: bearer
      bearerFormat: Basic
