openapi: 3.2.0
info:
  title: LandingLens Tags API
  description: '**LandingLens API** is a RESTful API that allows you to use LandingLens programmatically.'
  version: 0.1.0
servers:
- url: https://api.landing.ai
  description: Production environment
tags:
- name: Tags
paths:
  /v1/projects/{project_id}/tags:
    get:
      tags:
      - Tags
      summary: Get Project Tags
      operationId: get_project_tags_v1_projects__project_id__tags_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_list_TagItem__'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Tags
      summary: Create Project Tag
      operationId: create_project_tag_v1_projects__project_id__tags_post
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagBase'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_TagItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/tags/{tag_id}:
    post:
      tags:
      - Tags
      summary: Update Project Tag
      operationId: update_project_tag_v1_projects__project_id__tags__tag_id__post
      parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: integer
          title: Tag Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagBase'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_TagItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    TagItem:
      properties:
        name:
          type: string
          title: Name
        id:
          type: integer
          title: Id
        orgId:
          type: integer
          title: Orgid
        isArchived:
          type: boolean
          title: Isarchived
        createdAt:
          type: string
          title: Createdat
        updatedAt:
          anyOf:
          - type: string
          - type: 'null'
          title: Updatedat
        color:
          type: string
          title: Color
      type: object
      required:
      - name
      - id
      - orgId
      - isArchived
      - createdAt
      - updatedAt
      - color
      title: TagItem
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    TagBase:
      properties:
        name:
          type: string
          title: Name
      type: object
      required:
      - name
      title: TagBase
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    BaseResponse_list_TagItem__:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/TagItem'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: BaseResponse[list[TagItem]]
    BaseResponse_TagItem_:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/TagItem'
          - type: 'null'
      type: object
      required:
      - data
      title: BaseResponse[TagItem]
