openapi: 3.2.0
info:
  title: Vision Tools API
  version: 0.1.0
servers:
- url: https://api.va.landing.ai
  description: Production vision tools API
tags:
- name: Tools
paths:
  /v1/tools/agentic-document-analysis:
    post:
      tags:
      - Tools
      summary: Agentic Document Extraction (Legacy)
      description: 'This is a legacy endpoint. Use the ADE Parse endpoint instead.


        Send

        documents to the Agentic Document Extraction API.


        The API parses the

        documents and returns the extracted data as structured Markdown and JSON.


        You

        can include an extraction schema to extract key-value pairs from the parsed

        content.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/tools/agentic-document-analysis`.'
      operationId: tool_agentic_doc_analysis_v1_tools_agentic_document_analysis_post
      security:
      - Basic Auth: []
      parameters:
      - name: pages
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Which pages to process, separated by commas and starting from 0. For example, to process the first 3 pages, use ''0,1,2''. '
          title: Pages
        description: 'Which pages to process, separated by commas and starting from 0. For example, to process the first 3 pages, use ''0,1,2''. '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__ade__core__custom_types__DocAnalysisRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgenticDocAnalysisResponse'
        '206':
          description: Contains only pages that succeeded processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgenticDocAnalysisResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    head:
      tags:
      - Tools
      summary: Head Agentic Document Analysis
      operationId: head_agentic_document_analysis_v1_tools_agentic_document_analysis_head
      security:
      - Basic Auth: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/tools/markdown-schema-suggestion:
    post:
      tags:
      - Tools
      summary: Tool Markdown To Jsonschema
      description: Endpoint to convert markdown to JSON schema.
      operationId: tool_markdown_to_jsonschema_v1_tools_markdown_schema_suggestion_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkdownToJSONSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkdownToJSONSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/wsi-embedding:
    post:
      tags:
      - Tools
      summary: Tool Wsi Embedding
      description: 'Performs whole slide image (WSI) embedding generation for pathology image analysis and feature extraction.


        Args:

        params (WSIEmbeddingRequest): The input data containing the following fields:

        - image (bytes): Base64-encoded patch image from a whole slide image.

        - mpp (float): Microns per pixel resolution of the image patch.

        Required for proper scaling and analysis.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for WSI embedding generation.


        Returns:

        WSIEmbeddingResponse | JSONResponse

        Success: WSIEmbeddingResponse containing generated embeddings for the WSI patch.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_wsi_embedding_v1_tools_wsi_embedding_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WSIEmbeddingRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WSIEmbeddingResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/qr-reader:
    post:
      tags:
      - Tools
      summary: Tool Qr Reader
      description: 'Performs QR code detection and reading to extract encoded information from images.


        Args:

        params (QRReaderRequest): The input data containing the following fields:

        - image (bytes): The image file to analyze for QR code detection and reading.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for QR code processing.


        Returns:

        QRReaderResponse | JSONResponse

        Success: QRReaderResponse containing detected QR codes with decoded text and locations.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_qr_reader_v1_tools_qr_reader_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QRReaderRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QRReaderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/owlv2:
    post:
      tags:
      - Tools
      summary: Tool Owlv2
      description: 'Performs object detection using the OWL-ViT v2 model with text prompts.


        Args:

        params (Owlv2Request): The input request containing the following fields:

        - image (UploadFile): The image file to analyze for object detection.

        - prompts (List[str]): Text descriptions of objects to detect in the image.

        - confidence (float, *optional*): Minimum confidence threshold for detections.

        Defaults to 0.2, must be between 0 and 1.


        baseten_inference_sender: Dependency Injection for

        sending request to the baseten server.


        Returns:

        BboxResponse | JSONResponse

        List of detected objects with bounding boxes, labels, and confidence scores, or error response.'
      operationId: tool_owlv2_v1_tools_owlv2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Owlv2Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/BboxResponse'
                - type: 'null'
                title: Response Tool Owlv2 V1 Tools Owlv2 Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/depth-anything-v2:
    post:
      tags:
      - Tools
      summary: Tool Depth Anything V2
      description: 'Performs depth estimation on images using the Depth-Anything-V2 model to generate depth maps.


        Args:

        params (DepthAnythingV2Request): The input data containing the following fields:

        - image (bytes): The image file to analyze for depth estimation.

        - grayscale (bool, *optional*): Whether to output the depth map in grayscale format.

        Defaults to False for colored depth maps.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for Depth-Anything-V2 processing.


        Returns:

        DepthAnythingV2Response | JSONResponse

        Success: DepthAnythingV2Response containing depth map data and metadata.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_depth_anything_v2_v1_tools_depth_anything_v2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepthAnythingV2Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthAnythingV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/loca:
    post:
      tags:
      - Tools
      summary: Tool Loca
      description: 'Performs localized content analysis using the LOCA model to analyze specific regions or the entire image.


        Args:

        params (LocaRequest): The input data containing the following fields:

        - image (bytes): The image file to analyze for localized content analysis.

        - bbox (BoundingBox, *optional*): Bounding box coordinates to focus analysis on a specific region.

        If not provided, analyzes the entire image.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for LOCA processing.


        Returns:

        LocaResponse | JSONResponse

        Success: LocaResponse containing localized analysis results.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_loca_v1_tools_loca_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocaRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/florence2:
    post:
      tags:
      - Tools
      summary: Tool Florencev2
      description: 'Performs various computer vision tasks using the Florence V2 model.


        Args:

        params (FlorenceV2Request): The input request containing the following fields:

        - image (UploadFile, *optional*): Single image file for processing.

        - images (List[UploadFile], *optional*): Multiple image files for batch processing.

        - video_bytes (bytes, *optional*): Video data for video analysis tasks.

        - task (str): The specific task to perform (e.g., "CAPTION", "OD", "OCR").

        - prompt (str, *optional*): Text prompt for task-specific guidance.


        baseten_inference_sender: Dependency Injection for

        sending request to the baseten server.


        Returns:

        FlorenceV2Response | JSONResponse

        Task-specific results including captions, object detections, or OCR text, or error response.'
      operationId: tool_florencev2_v1_tools_florence2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlorenceV2Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlorenceV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/nsfw-classification:
    post:
      tags:
      - Tools
      summary: Tool Nsfw Classification
      description: 'Performs NSFW (Not Safe For Work) content classification to detect inappropriate content in images.


        Args:

        params (NSFWRequest): The input data containing the following fields:

        - image (bytes): The image file to analyze for NSFW content classification.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for NSFW classification.


        Returns:

        NSFWResponse | JSONResponse

        Success: NSFWResponse containing classification scores for different content categories.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_nsfw_classification_v1_tools_nsfw_classification_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NSFWRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NSFWResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/florence2-qa:
    post:
      tags:
      - Tools
      summary: Tool Florencev2 Qa
      description: 'Performs visual question answering using the Florence2 model to answer questions about image content.


        Args:

        params (FlorenceQARequest): The input data containing the following fields:

        - image (bytes): The image file to analyze for visual question answering.

        - question (str): The question to ask about the image content.

        The model will analyze the image and provide an answer.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for Florence2 QA processing.


        Returns:

        FlorenceV2QAResponse | JSONResponse

        Success: FlorenceV2QAResponse containing the answer to the visual question.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_florencev2_qa_v1_tools_florence2_qa_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlorenceQARequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlorenceV2QAResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/pose-detector:
    post:
      tags:
      - Tools
      summary: Tool Pose Detection
      description: 'Performs human pose detection to identify and locate body keypoints and skeletal structure in images.


        Args:

        params (PoseDetectionRequest): The input data containing the following fields:

        - image (bytes): The image file to analyze for pose detection.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for pose detection processing.


        Returns:

        PoseDetectionResponse | JSONResponse

        Success: PoseDetectionResponse containing detected poses with keypoint coordinates.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_pose_detection_v1_tools_pose_detector_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoseDetectionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoseDetectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/barcode-reader:
    post:
      tags:
      - Tools
      summary: Tool Barcode Reader
      description: 'Extracts barcode information from an image using barcode detection models.


        Args:

        params (BarcodeReaderRequest): The input request containing the following fields:

        - image (UploadFile): The image file containing barcode(s) to be detected and read.


        baseten_inference_sender: Dependency Injection for

        sending request to the baseten server.


        Returns:

        BarcodeReaderResponse | JSONResponse

        List of detected barcodes with their values and locations, or error response.'
      operationId: tool_barcode_reader_v1_tools_barcode_reader_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BarcodeReaderRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BarcodeReaderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/internlm-xcomposer2:
    post:
      tags:
      - Tools
      summary: Tool Internlm Xcomposer2
      description: 'Performs multimodal analysis using the InternLM-XComposer2 model to generate text responses from images or videos.


        Args:

        prompt (str): Text prompt to guide the analysis and response generation.

        image (UploadFile, *optional*): Image file to analyze.

        Cannot be provided together with video.

        video (UploadFile, *optional*): Video file to analyze.

        Cannot be provided together with image.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for InternLM-XComposer2 processing.


        Returns:

        InternLMXComposer2Response | JSONResponse

        Success: InternLMXComposer2Response containing generated text response.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_internlm_xcomposer2_v1_tools_internlm_xcomposer2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_internlm_xcomposer2_v1_tools_internlm_xcomposer2_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternLMXComposer2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/video-temporal-localization:
    post:
      tags:
      - Tools
      summary: Tool Video Temporal Localization
      description: 'Performs temporal localization on videos to identify specific events or content at particular time intervals.


        Args:

        data (FormData): The form data containing the following fields:

        - prompt (str): Text prompt describing the content or event to locate in the video.

        - model (TemporalLocalizationTools): The AI model to use for temporal localization.

        Options: internlm-xcomposer2, gpt4o, qwen2vl, qwen25vl.

        - video (UploadFile): The video file to analyze for temporal content localization.

        - chunk_length (float, *optional*): Length of each processing chunk in seconds.

        - chunk_length_seconds (float, *optional*): Alternative specification for chunk length in seconds.

        - chunk_length_frames (int, *optional*): Length of each processing chunk in frame count.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for video temporal localization.


        Returns:

        VideoTemporalLocalizationResponse | JSONResponse

        Success: VideoTemporalLocalizationResponse containing temporal localization results with timestamps.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_video_temporal_localization_v1_tools_video_temporal_localization_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__video_temporal_localization__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTemporalLocalizationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/florence2-sam2:
    post:
      tags:
      - Tools
      summary: Tool Florence2 Sam2
      description: 'Performs object detection and segmentation using Florence2 and SAM2 models for precise instance segmentation.


        Args:

        data (FormData): The form data containing the following fields:

        - prompts (List[str]): List of text prompts describing objects to detect and segment.

        - image (UploadFile, *optional*): Image file to analyze for object detection and segmentation.

        - video (UploadFile, *optional*): Video file to analyze for temporal object segmentation.

        - chunk_length (int, *optional*): Length of video chunks for processing.

        Used for video segmentation tasks.

        - iou_threshold (float, *optional*): IoU threshold for filtering detections.

        Range: 0.1-1.0, defaults to 0.6.

        - nms_threshold (float, *optional*): Non-maximum suppression threshold.

        Range: 0.1-1.0, defaults to 1.0.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for Florence2+SAM2 processing.


        Returns:

        Florence2SAM2Response | JSONResponse

        Success: Florence2SAM2Response containing detected objects with segmentation masks.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_florence2_sam2_v1_tools_florence2_sam2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__florence2_sam2__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Florence2SAM2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/glee:
    post:
      tags:
      - Tools
      summary: Tool Glee
      description: 'Performs text-to-instance segmentation using the GLEE model to detect and segment objects based on text prompts.


        Args:

        data (FormData): The form data containing the following fields:

        - prompts (List[str]): List of text prompts describing objects to detect and segment.

        Must contain at least one prompt.

        - image (UploadFile): The image file to analyze for instance segmentation.

        Required field for segmentation analysis.

        - video (UploadFile, *optional*): Video file input (not used for GLEE).

        - nms_threshold (float, *optional*): Non-maximum suppression threshold for filtering overlapping detections.

        Helps reduce duplicate detections.

        - confidence (float, *optional*): Confidence threshold for object detection.

        Objects with lower confidence scores will be filtered out.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for GLEE processing.


        Returns:

        TextToInstanceSegmentationResponse | JSONResponse

        Success: TextToInstanceSegmentationResponse containing detected instances with segmentation masks.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_glee_v1_tools_glee_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__glee__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextToInstanceSegmentationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/text-to-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Text To Od
      description: 'Performs text-to-object detection on images or videos with access to various detection models


        Args:

        data (FormData): The input data containing the following keys:

        - prompts (List[str]): List of text prompts describing objects to detect.

        Must contain at least one prompt. For Florence2,

        total prompt length cannot exceed 800 characters. For agentic,

        only one prompt is allowed.

        - model (TextToODModel): The detection model to use:

        "owlv2", "countgd", "florence2", "agentic", "glee", or "florencev2" (deprecated).

        - image (UploadFile, *optional*): The image file to analyze for object detection.

        - video (UploadFile, *optional*): The video file to analyze for object detection.

        Note: Not all models support video input.

        - nms_threshold (float, *optional*): Non-maximum suppression threshold

        for filtering overlapping detections.

        - confidence (float, *optional*): Confidence threshold for object detection.

        Not supported by all models.

        - job_id (UUID, *optional*): Unique identifier for tracking the job.

        Not supported by all models.


        baseten_inference_sender: Dependency Injection for

        sending request to the baseten server.


        Returns:

        ODResponse | JSONResponse: Detection results containing bounding boxes,

        labels, and confidence scores for detected objects, or error response.'
      operationId: tool_text_to_od_v1_tools_text_to_object_detection_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__text_to_object_detection__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/visual-prompts-to-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Visual Prompts To Od
      description: 'Performs object detection using visual prompts (bounding box coordinates) instead of text prompts.


        Args:

        visual_prompts (str): JSON string containing visual prompt coordinates.

        Format: List of bounding box coordinates as [[x1, y1, x2, y2], ...].

        model (VisualPromptsToODModel): The detection model to use for visual prompt-based detection.

        Currently supports CountGD.

        image (UploadFile, *optional*): Image file to analyze for object detection.

        Cannot be provided together with video.

        video (UploadFile, *optional*): Video file to analyze for object detection.

        Cannot be provided together with image.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for visual prompt-based detection.


        Returns:

        ODResponse | JSONResponse

        Success: ODResponse containing detected objects guided by visual prompts.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_visual_prompts_to_od_v1_tools_visual_prompts_to_object_detection_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_visual_prompts_to_od_v1_tools_visual_prompts_to_object_detection_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/countgd:
    post:
      tags:
      - Tools
      summary: Tool Countgd
      description: 'Performs object counting and detection using the CountGD model with text prompts and/or visual prompts.


        Args:

        params (CountGDRequest): The input data containing the following fields:

        - image (bytes): The image file to analyze for object counting and detection.

        - prompt (str, *optional*): Text description of objects to count and detect.

        Can be used alone or in combination with visual_prompts.

        - visual_prompts (List[List[float]], *optional*): List of bounding box coordinates for visual prompting.

        Each inner list contains [x1, y1, x2, y2] coordinates.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for CountGD processing.


        Returns:

        BboxResponse | JSONResponse

        Success: BboxResponse containing detected objects with bounding boxes and count information.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_countgd_v1_tools_countgd_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountGDRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BboxResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/flux1:
    post:
      tags:
      - Tools
      summary: Tool Flux1
      description: 'Performs AI-powered image generation, inpainting, or image-to-image transformation using the Flux1 diffusion model.


        Args:

        data (Flux1Request): The form data containing the following fields:

        - task (Flux1Task, *optional*): The task to perform - image_generation, mask_inpainting, or image_to_image.

        Defaults to image_generation.

        - prompt (str): Text description of the desired image or modifications.

        Maximum 512 characters.

        - image (UploadFile, *optional*): Original image for inpainting or image-to-image tasks.

        Required for mask_inpainting and image_to_image tasks.

        - mask_image (UploadFile, *optional*): Mask image indicating areas to inpaint.

        Required for mask_inpainting task, must match image dimensions.

        - height (int, *optional*): Height in pixels of generated image, must be multiple of 8.

        Defaults to 512.

        - width (int, *optional*): Width in pixels of generated image, must be multiple of 8.

        Defaults to 512.

        - strength (float, *optional*): Transformation strength for image-to-image tasks.

        Range: 0.0-1.0, defaults to 0.6.

        - num_inference_steps (int, *optional*): Number of denoising steps.

        Defaults to 10.

        - guidance_scale (float, *optional*): Classifier-free guidance scale.

        Higher values improve prompt adherence. Defaults to 3.5.

        - num_images_per_prompt (int, *optional*): Number of images to generate per prompt.

        Defaults to 1.

        - max_sequence_length (int, *optional*): Maximum prompt sequence length.

        Range: 0-512, defaults to 512.

        - seed (int, *optional*): Random seed for reproducible generation.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for Flux1 processing.


        Returns:

        Flux1Response | JSONResponse

        Success: Flux1Response containing generated images in base64 format.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_flux1_v1_tools_flux1_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Flux1Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flux1Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/image-to-text:
    post:
      tags:
      - Tools
      summary: Tool Image To Text
      description: 'Performs image-to-text conversion to generate textual descriptions or answers from visual content.


        Args:

        data (FormData): The form data containing the following fields:

        - prompt (str): Text prompt to guide the image analysis and response generation.

        - model (ImageToText): The AI model to use for analysis.

        Options: qwen2vl, internlm-xcomposer, qwen25vl.

        - image (UploadFile, *optional*): Single image file to analyze.

        Cannot be used with images field for some models.

        - images (List[UploadFile], *optional*): Multiple image files to analyze.

        Not supported by internlm-xcomposer model.

        - video (UploadFile, *optional*): Video file to analyze for temporal understanding.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for image-to-text processing.


        Returns:

        ImageToTextResponse | JSONResponse

        Success: ImageToTextResponse containing generated text description or answer.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_image_to_text_v1_tools_image_to_text_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__image_to_text__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageToTextResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/depth-pro:
    post:
      tags:
      - Tools
      summary: Tool Depth Pro
      description: 'Performs high-precision depth estimation using the Depth-Pro model to generate detailed depth maps with focal length estimation.


        Args:

        data (BaseMediaRequest): The form data containing the following fields:

        - image (UploadFile): The image file to analyze for depth estimation.

        Required field for depth map generation.

        - video (UploadFile, *optional*): Video file input (not used for Depth-Pro).

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for Depth-Pro processing.


        Returns:

        DepthProResponse | JSONResponse

        Success: DepthProResponse containing depth map data and processing metadata.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_depth_pro_v1_tools_depth_pro_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseMediaRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthProResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/text-to-instance-segmentation:
    post:
      tags:
      - Tools
      summary: Tool Text To Seg
      description: 'Performs text-to-instance segmentation to detect and segment objects based on

        text descriptions.


        Args:

        data (FormData): The form data containing the following fields:

        - prompt (str): Text description of objects to detect and segment.

        - model (TextToSegModel): The segmentation model to use.

        Currently supports florence2sam2.

        - image: Image file to analyze for segmentation.

        - video: Video file to analyze for temporal segmentation.

        - chunk_length_frames: Number of frames per chunk for video processing.

        - iou_threshold: IoU threshold for filtering detections.

        Range: 0.1-1.0.

        - nms_threshold: Non-maximum suppression threshold.

        Range: 0.1-1.0.

        - job_id (UUID, *optional*): Unique identifier for tracking the job.

        baseten_inference_sender:

        Dependency Injection for sending inference requests to the Baseten model

        server for text-to-segmentation processing.


        Returns:

        TextToInstanceSegmentationResponse | JSONResponse

        Success: TextToInstanceSegmentationResponse containing segmented instances

        with masks.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_text_to_seg_v1_tools_text_to_instance_segmentation_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__text_to_instance_segmentation__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextToInstanceSegmentationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/classification:
    post:
      tags:
      - Tools
      summary: Tool Classification
      description: 'Performs zero-shot image classification to categorize images based on provided labels.


        Args:

        data (ClassificationRequest): The form data containing the following fields:

        - model (ClassificationModel): The classification model to use for analysis.

        Currently supports SigLIP zero-shot image classification.

        - image (UploadFile): The image file to classify.

        Required field for classification analysis.

        - labels (List[str]): Candidate labels for image classification.

        Must contain at least one label for classification.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for image classification.


        Returns:

        ClassificationResponse | JSONResponse

        Success: ClassificationResponse containing classification scores and labels.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_classification_v1_tools_classification_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/document-analysis:
    post:
      tags:
      - Tools
      summary: Tool Doc Analysis
      description: 'Performs comprehensive document analysis to extract and parse text, tables, and

        figures from images or PDFs.


        Args:

        data (DocAnalysisRequest): The form data containing the following fields:

        - image (UploadFile, *optional*): Image file to analyze (max 50MB).

        Cannot be provided together with PDF.

        - pdf (UploadFile, *optional*): PDF file to analyze (max 50MB, max 2 pages).

        Cannot be provided together with image.

        - parse_text (bool, *optional*): Whether to parse and analyze text content.

        Defaults to True.

        - parse_tables (bool, *optional*): Whether to parse and analyze table

        structures. Defaults to True.

        - parse_figures (bool, *optional*): Whether to parse and analyze figures

        and images. Defaults to True.

        - summary_verbosity (Verbosity, *optional*): Level of detail in

        AI-generated summaries. Options: none, brief, normal, detailed.

        Defaults to normal.

        - return_chunk_crops (bool, *optional*): Whether to return cropped images

        of each chunk. Defaults to False.

        - return_page_crops (bool, *optional*): Whether to return cropped images of

        each page. Defaults to False.

        - caption_format (OutputFormat, *optional*): Format for chunk captions.

        Options: markdown, json, xml, text. Defaults to json.

        - response_format (OutputFormat, *optional*): Format for the overall

        response. Options: markdown, json, xml, text. Defaults to json.

        - filename (str, *optional*): Optional filename for integration into API

        output.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for document

        analysis.


        Returns:

        DocAnalysisResponse | JSONResponse

        Success: DocAnalysisResponse containing parsed document structure and

        content.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_doc_analysis_v1_tools_document_analysis_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__doc_analysis__DocAnalysisRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocAnalysisResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/paddle-ocr:
    post:
      tags:
      - Tools
      summary: Tool Paddle Ocr
      description: 'Performs optical character recognition using PaddleOCR to extract text from images.


        Args:

        data (BaseMediaRequest): The form data containing the following fields:

        - image (UploadFile): The image file to analyze for text extraction.

        Required field for OCR processing.

        - video (UploadFile, *optional*): Video file input (not used for OCR).

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for PaddleOCR processing.


        Returns:

        PaddleOcrResponse | JSONResponse

        Success: PaddleOcrResponse containing extracted text with bounding boxes and confidence scores.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_paddle_ocr_v1_tools_paddle_ocr_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseMediaRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaddleOcrResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/embeddings:
    post:
      tags:
      - Tools
      summary: Tool Embeddings
      description: 'Generates text embeddings using the specified embedding model.


        Args:

        data (EmbeddingsRequest): The input request containing the following fields:

        - model (EmbeddingsModel): The embedding model to use for text vectorization.

        Currently supports Stella 1.5B model.

        - input (List[str]): The list of text prompts to generate embeddings for.


        baseten_inference_sender: Dependency Injection for

        sending request to the baseten server.


        Returns:

        EmbeddingsResponse | JSONResponse

        List of numerical embeddings corresponding to the input texts, or error response.'
      operationId: tool_embeddings_v1_tools_embeddings_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/custom-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Object Detection
      description: 'Performs object detection using custom trained models deployed on the

        Landing AI platform.


        Args:

        data (FormData): The input request containing the following fields:

        - deployment_id (UUID): The unique identifier of the deployed

        custom model.

        - image (UploadFile): The image file to analyze for object

        detection.

        - confidence (float, *optional*): Minimum confidence threshold for

        detections.

        If not provided, all detections above the model''s default

        threshold are returned.


        Returns:

        ODResponse | JSONResponse

        List of detected objects with bounding boxes, labels, and

        confidence scores, or error response.'
      operationId: tool_object_detection_v1_tools_custom_object_detection_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__object_detection__FormData'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/agentic-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Agentic Od
      description: 'Performs agentic object detection on images to identify and locate objects based on text prompts.


        Args:

        data (FormData): The form data containing the following fields:

        - prompts (List[str]): List containing exactly one text prompt describing what objects to detect.

        Must contain between 1 and 1 elements.

        - image (UploadFile): The image file to analyze for object detection.

        Required field, cannot be None.

        - video (UploadFile, *optional*): Video file input (not supported for agentic OD).

        Will return an error if provided.

        baseten_inference_sender: Dependency Injection for

        sending inference requests to the Baseten model server for agentic object detection.


        Returns:

        ODResponse | JSONResponse

        Success: ODResponse containing detected objects with bounding boxes and labels.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_agentic_od_v1_tools_agentic_object_detection_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__agentic_od__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/docling:
    post:
      tags:
      - Tools
      summary: Tool Docling
      description: 'Performs document layout analysis using the Docling model to detect and analyze

        document structure elements.


        Args:

        data (DocumentNumberChunksRequest):

        The form data containing the following fields:

        - images (List[bytes]):

        List of image files as byte arrays to analyze for layout detection.

        Each image represents a page or document section.

        baseten_inference_sender:

        Dependency Injection for sending inference requests to the Baseten model

        server for Docling layout analysis.

        modelserver_client:

        Dependency Injection for HTTP client to communicate with the Docling model

        server as an alternative to Baseten.


        Returns:

        DoclingResponse | JSONResponse

        Success:

        DoclingResponse containing detected layout elements and structure

        information.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_docling_v1_tools_docling_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentNumberChunksRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoclingResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/license-plate:
    post:
      tags:
      - Tools
      summary: Tool License Plate
      description: 'Performs automated license plate recognition on video content to detect and read

        license plates and vehicle information.


        Args:

        video (UploadFile): The video file to analyze for license plate detection.

        Required field containing video data for processing.

        modelserver_client: Dependency Injection for

        HTTP client to communicate with the license plate recognition model server.


        Returns:

        LicensePlateResponse | JSONResponse

        Success:

        LicensePlateResponse containing detected license plates with vehicle

        details and timestamps.

        Error: JSONResponse with error details and appropriate status code.'
      operationId: tool_license_plate_v1_tools_license_plate_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_license_plate_v1_tools_license_plate_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/activity-recognition:
    post:
      tags:
      - Tools
      summary: Tool Activity Recognition
      description: 'Performs activity recognition on video content to identify and analyze activities.


        Args:

        video (UploadFile): The video file to analyze for activity recognition.

        prompt (str):

        The prompt to guide activity recognition and describe what activities to

        look for.

        specificity (Specificity, *optional*):

        Detail level in the response (low, medium, high, max).

        Defaults to MAX for maximum detail.

        with_audio (bool, *optional*): Whether to process audio as well as video.

        Defaults to False.

        modelserver_client: Dependency Injection for

        HTTP client to communicate with the activity recognition model server.


        Returns:

        ActivityRecognitionResponse | JSONResponse

        Success:

        ActivityRecognitionResponse containing detected activities and timing

        information.

        Error: JSONResponse with error details and 500 status code.'
      operationId: tool_activity_recognition_v1_tools_activity_recognition_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_activity_recognition_v1_tools_activity_recognition_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityRecognitionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/vision-training/train:
    post:
      tags:
      - Tools
      summary: Tool Vision Training Train
      description: 'Performs object detection using custom trained models deployed on the

        Landing AI platform.


        Args:

        request (Request): The FastAPI request containing headers.

        data (TrainRequest): The input request containing the training parameters.


        Returns:

        TrainingResponseData | JSONResponse

        Details of the created training job, or error response.'
      operationId: tool_vision_training_train_v1_tools_vision_training_train_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/vision-training/jobs:
    get:
      tags:
      - Tools
      summary: Tool Vision Training Get Jobs
      description: 'Gets the list of vision training jobs for the authenticated user.


        Args:

        request (Request): The FastAPI request containing headers.


        Returns:

        JobsListResponseData | JSONResponse

        List of training job identifiers, or error response.'
      operationId: tool_vision_training_get_jobs_v1_tools_vision_training_jobs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListResponseData'
      security:
      - Basic Auth: []
  /v1/tools/vision-training/jobs/{job_id}/status:
    get:
      tags:
      - Tools
      summary: Tool Vision Training Get Job Status
      description: 'Gets the status of a vision training job.


        Args:

        request (Request): The FastAPI request containing headers.

        job_id (str): The identifier of the training job to check status for.


        Returns:

        JobStatusResponseData | JSONResponse

        Status details of the training job, or error response.'
      operationId: tool_vision_training_get_job_status_v1_tools_vision_training_jobs__job_id__status_get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: Training job identifier
          title: Job Id
        description: Training job identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/vision-training/jobs/{job_id}/results:
    get:
      tags:
      - Tools
      summary: Tool Vision Training Get Job Results
      description: 'Gets the results of a completed vision training job.


        Args:

        request (Request): The FastAPI request containing headers.

        job_id (str): The identifier of the training job to get results for.


        Returns:

        JobResultsResponseData | JSONResponse

        Download URLs for the trained model and performance report, or error

        response.'
      operationId: tool_vision_training_get_job_results_v1_tools_vision_training_jobs__job_id__results_get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: Training job identifier
          title: Job Id
        description: Training job identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResultsResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/vision-training/jobs/{job_id}:
    delete:
      tags:
      - Tools
      summary: Tool Vision Training Delete Job
      description: 'Deletes a vision training job.


        Args:

        request (Request): The FastAPI request containing headers.

        job_id (str): The identifier of the training job to delete.


        Returns:

        JobDeleteResponseData | JSONResponse

        Confirmation message for successful deletion, or error response.'
      operationId: tool_vision_training_delete_job_v1_tools_vision_training_jobs__job_id__delete
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: Training job identifier
          title: Job Id
        description: Training job identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDeleteResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/vision-training/auto-label:
    post:
      tags:
      - Tools
      summary: Tool Vision Training Auto Label
      description: 'Performs automatic labeling on an image using vision training models.


        Args:

        request (Request): The FastAPI request containing headers.

        data (AutoLabelRequest): The input request containing image URL and

        labeling configuration.


        Returns:

        Response | JSONResponse

        Auto-labeling results with embeddings and preserved headers, or

        error response with preserved headers.'
      operationId: tool_vision_training_auto_label_v1_tools_vision_training_auto_label_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AutoLabelRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/ade/parse:
    post:
      tags:
      - Tools
      summary: ADE Parse
      description: 'Parse a document or spreadsheet.


        This endpoint parses documents (PDF, images)

        and spreadsheets (XLSX, CSV) into structured Markdown, chunks, and metadata.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/parse`.'
      operationId: tool_ade_parse_v1_ade_parse_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ParseRequestWithEncryptedPassword'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
        '206':
          description: There were some pages that failed to be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
        '429':
          description: Rate limit exceeded
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/ade/extract:
    post:
      tags:
      - Tools
      summary: ADE Extract
      description: 'Extract structured data from Markdown using a JSON schema.


        This endpoint

        processes Markdown content and extracts structured data according to the provided

        JSON schema.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/extract`.'
      operationId: tool_ade_extract_v1_ade_extract_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExtractRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
        '206':
          description: Extraction completed with success but there was a schema validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
        '429':
          description: Rate limit exceeded
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/ade/extract/jobs:
    post:
      tags:
      - Tools
      summary: ADE Extract Jobs
      description: 'Extract structured data asynchronously.


        This endpoint creates a job that handles the processing for large markdown

        documents.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/extract/jobs`.'
      operationId: tool_ade_extract_jobs_v1_ade_extract_jobs_post
      security:
      - Basic Auth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncExtractRequest'
      responses:
        '202':
          description: Job queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreationResponse'
              example:
                job_id: 12345678-1234-1234-1234-123456789012
        '429':
          description: Rate limit exceeded
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Tools
      summary: ADE List Extract Jobs
      description: 'List all async extract jobs associated with your API key.


        Returns the list of jobs or an error response. For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/extract/jobs`.'
      operationId: tool_ade_list_extract_jobs_v1_ade_extract_jobs_get
      security:
      - Basic Auth: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Page number (0-indexed)
          default: 0
          title: Page
        description: Page number (0-indexed)
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of items per page
          default: 10
          title: Pagesize
        description: Number of items per page
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - cancelled
            - completed
            - failed
            - pending
            - processing
            type: string
          - type: 'null'
          description: Filter by job status.
          title: Status
        description: Filter by job status.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/ade/extract/jobs/{job_id}:
    get:
      tags:
      - Tools
      summary: ADE Get Extract Jobs
      description: 'Get the status for an async extract job.


        Returns the job status or an error

        response. For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/extract/jobs/{job_id}`.'
      operationId: tool_ade_get_extract_jobs_v1_ade_extract_jobs__job_id__get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractJobStatusResponse'
        '206':
          description: Extraction completed with success but there was a schema validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractJobStatusResponse'
        '404':
          description: Job ID not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/ade/extract/build-schema:
    post:
      tags:
      - Tools
      summary: ADE Build Extract Schema
      description: 'Generate a JSON schema from Markdown using AI.


        This endpoint analyzes Markdown

        content and generates a JSON schema suitable for use with the extract endpoint.

        It can also refine an existing schema based on new documents or iterate on a schema

        based on prompt instructions.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/extract/build-schema`.'
      operationId: tool_ade_build_schema_v1_ade_extract_build_schema_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BuildSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/ade/split:
    post:
      tags:
      - Tools
      summary: ADE Split
      description: 'Split classification for documents.


        This endpoint classifies document sections

        based on markdown content and split options.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/split`.'
      operationId: tool_ade_split_v1_ade_split_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SplitRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/ade/section:
    post:
      tags:
      - Tools
      summary: ADE Section
      description: 'Section parsed markdown into a hierarchical table of contents.


        This endpoint accepts the markdown output from /ade/parse

        (with reference anchors) and returns a flat, reading-order list of

        sections with hierarchy levels and reference ranges.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/section`.'
      operationId: tool_ade_section_v1_ade_section_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SectionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/ade/classify:
    post:
      tags:
      - Tools
      summary: ADE Classify
      description: 'Classify the pages of a document into classes you define.


        This endpoint accepts PDFs, images, and other supported file types

        (either as a `document` upload or `document_url`) together with a

        list of `classes`, and returns a classification result for each page.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/classify`.'
      operationId: tool_ade_classify_v1_ade_classify_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ClassifyRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/ade/parse/jobs:
    post:
      tags:
      - Tools
      summary: ADE Parse Jobs
      description: 'Parse documents asynchronously.


        This endpoint creates a job that handles the

        processing for both large documents and large batches of documents.


        For EU

        users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/parse/jobs`.'
      operationId: tool_ade_parse_jobs_v1_ade_parse_jobs_post
      security:
      - Basic Auth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncParseRequestWithEncryptedPassword'
      responses:
        '202':
          description: Job queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreationResponse'
              example:
                job_id: 12345678-1234-1234-1234-123456789012
        '429':
          description: Rate limit exceeded
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Tools
      summary: ADE List Parse Jobs
      description: 'List all async parse jobs associated with your API key. Returns the list of jobs

        or an error response. For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/parse/jobs`.'
      operationId: tool_ade_list_parse_jobs_v1_ade_parse_jobs_get
      security:
      - Basic Auth: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Page number (0-indexed)
          default: 0
          title: Page
        description: Page number (0-indexed)
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of items per page
          default: 10
          title: Pagesize
        description: Number of items per page
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - cancelled
            - completed
            - failed
            - pending
            - processing
            type: string
          - type: 'null'
          description: Filter by job status.
          title: Status
        description: Filter by job status.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/ade/parse/jobs/{job_id}:
    get:
      tags:
      - Tools
      summary: ADE Get Parse Jobs
      description: 'Get the status for an async parse job.


        Returns the job status or an error

        response. For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/parse/jobs/{job_id}`.'
      operationId: tool_ade_get_parse_jobs_v1_ade_parse_jobs__job_id__get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '206':
          description: There were some pages that failed to be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Job ID not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/ade/split:
    post:
      tags:
      - Tools
      summary: ADE Split
      description: 'Split a parsed document into classified segments.


        Submit pre-parsed Markdown (as `markdown` or `markdown_url`) and a set

        of `classification_categories`. The API assigns each page to the

        category it matches most closely and returns the page assignments for

        each segment.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v2/ade/split`.'
      operationId: tool_ade_split_v2_v2_ade_split_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SplitV2Request'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v2/ade/split/build-rules:
    post:
      tags:
      - Tools
      summary: ADE Split Build Rules
      description: 'Suggest classification categories from a parsed document.


        Submit your parsed Markdown and the API suggests a set of

        classification categories. Review the suggestions, then use them to

        split the same document with the ADE Split v2 API.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v2/ade/split/build-rules`.'
      operationId: tool_ade_split_rules_v2_ade_split_build_rules_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SplitRulesRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitRulesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
components:
  schemas:
    SpreadsheetSplit:
      properties:
        class:
          type: string
          title: Class
          description: 'Split class: ''page'' for per-sheet splits, ''full'' for single split with all content'
        identifier:
          type: string
          title: Identifier
          description: 'Split identifier: sheet name for ''page'' splits, ''full'' for full split'
        sheets:
          items:
            type: integer
          type: array
          title: Sheets
          description: 'Sheet indices: single element for ''page'' splits, all indices for ''full'' split'
        markdown:
          type: string
          title: Markdown
          description: Combined markdown for this split
        chunks:
          items:
            type: string
          type: array
          title: Chunks
          description: Chunk IDs in this split
      type: object
      required:
      - class
      - identifier
      - sheets
      - markdown
      - chunks
      title: SpreadsheetSplit
      description: 'Sheet-based split from spreadsheet parsing.


        Similar to ParseSplit but grouped by sheet instead of page.

        Supports both ''page'' (per-sheet) and ''full'' (all sheets) split types.'
    MarkdownToJSONSchemaRequest:
      properties:
        markdown:
          type: string
          title: Markdown
          description: Markdown content to analyze for schema generation
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
          description: Optional user customization prompt for schema generation
      type: object
      required:
      - markdown
      title: MarkdownToJSONSchemaRequest
    GroundingType:
      type: string
      enum:
      - chunkLogo
      - chunkCard
      - chunkAttestation
      - chunkScanCode
      - chunkForm
      - chunkTable
      - chunkFigure
      - chunkText
      - chunkMarginalia
      - chunkTitle
      - chunkPageHeader
      - chunkPageFooter
      - chunkPageNumber
      - chunkKeyValue
      - table
      - tableCell
      title: GroundingType
    routers__tools__doc_analysis__DocAnalysisRequest:
      properties:
        image:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: Image
        pdf:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: Pdf
        parse_text:
          type: boolean
          title: Parse Text
          default: true
        parse_tables:
          type: boolean
          title: Parse Tables
          default: true
        parse_figures:
          type: boolean
          title: Parse Figures
          default: true
        summary_verbosity:
          $ref: '#/components/schemas/Verbosity'
          default: normal
        return_chunk_crops:
          type: boolean
          title: Return Chunk Crops
          default: false
        return_page_crops:
          type: boolean
          title: Return Page Crops
          default: false
        caption_format:
          $ref: '#/components/schemas/OutputFormat'
          default: json
        response_format:
          $ref: '#/components/schemas/OutputFormat'
          default: json
        filename:
          anyOf:
          - type: string
          - type: 'null'
          title: Filename
      type: object
      title: DocAnalysisRequest
    JobStatusResponse:
      properties:
        job_id:
          type: string
          title: Job Id
        status:
          type: string
          title: Status
        received_at:
          type: integer
          title: Received At
        created_at:
          type: integer
          title: Created At
          description: Unix timestamp (seconds) for when the job was created. Mirrors received_at; exposed so clients have an explicit creation time.
          default: 0
        progress:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Progress
          description: Job completion progress as a decimal from 0 to 1, where 0 is not started, 1 is finished, and values between 0 and 1 indicate work in progress.
        org_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Org Id
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
        data:
          anyOf:
          - $ref: '#/components/schemas/ParseResponse'
          - $ref: '#/components/schemas/SpreadsheetParseResponse'
          - type: 'null'
          title: Data
          description: The parsed output (ParseResponse for documents, SpreadsheetParseResponse for spreadsheets), if the job is complete and the `output_save_url` parameter was not used.
        output_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Output Url
          description: The URL to the parsed content. This field contains a URL when the job is complete and either you specified the `output_save_url` parameter or the result is larger than 1MB. When the result exceeds 1MB, the URL is a presigned S3 URL that expires after 1 hour. Each time you GET the job, a new presigned URL is generated.
        metadata:
          anyOf:
          - $ref: '#/components/schemas/ParseMetadata'
          - type: 'null'
        failure_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Failure Reason
      type: object
      required:
      - job_id
      - status
      - received_at
      - progress
      title: JobStatusResponse
      description: Unified response for job status endpoint.
    SplitV2SegmentTree:
      additionalProperties:
        anyOf:
        - items:
            $ref: '#/components/schemas/SplitV2SegmentLeafItem'
          type: array
        - $ref: '#/components/schemas/SplitV2SegmentTree'
      type: object
      title: SplitV2SegmentTree
      description: 'The classified segments, organized under the categories you submitted.


        Each category name maps to either a list of segments or a set of

        subcategories. A category can hold more than one segment when the API

        finds multiple instances of it, each with its own `identifier` and its

        own set of pages.'
    SplitData:
      properties:
        classification:
          type: string
          title: Classification
        identifier:
          anyOf:
          - type: string
          - type: 'null'
          title: Identifier
        pages:
          items:
            type: integer
          type: array
          title: Pages
        markdowns:
          items:
            type: string
          type: array
          title: Markdowns
      type: object
      required:
      - classification
      - identifier
      - pages
      - markdowns
      title: SplitData
      description: Split data for split classification endpoint.
    JobStatusResponseData:
      properties:
        jobId:
          type: string
          title: Jobid
          description: Training job identifier
        status:
          type: string
          title: Status
          description: Current status of the training job
        createdAt:
          anyOf:
          - type: string
          - type: 'null'
          title: Createdat
          description: Job creation timestamp
        updatedAt:
          anyOf:
          - type: string
          - type: 'null'
          title: Updatedat
          description: Last update timestamp
        epochInfo:
          anyOf:
          - type: object
          - type: 'null'
          title: Epochinfo
          description: Information about training epochs such as current epoch, total epochs, and metrics
        errorMessage:
          anyOf:
          - type: string
          - type: 'null'
          title: Errormessage
          description: Error message if job failed
      type: object
      required:
      - jobId
      - status
      title: JobStatusResponseData
      description: Training job status response
    Embedding:
      properties:
        embedding:
          items:
            type: number
          type: array
          title: Embedding
      type: object
      required:
      - embedding
      title: Embedding
    LicensePlateResponse:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/LicensePlateEvent'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: LicensePlateResponse
    WSIEmbeddingResponse:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/WSIEmbeddingResponseData'
          - type: 'null'
      type: object
      required:
      - data
      title: WSIEmbeddingResponse
    SplitV2CategoryTree-Input:
      additionalProperties:
        anyOf:
        - $ref: '#/components/schemas/SplitV2CategoryLeaf'
        - $ref: '#/components/schemas/SplitV2CategoryTree-Input'
      type: object
      title: SplitV2CategoryTree
      description: 'The classification categories used to split a document.


        Each category name maps to either a category that defines a

        classification (with `identifier` and `instructions`) or a set of

        subcategories. You pass these categories when you split the document.'
    ActivityRecognitionEvent:
      properties:
        events:
          items:
            $ref: '#/components/schemas/ActivityRecognitionEventItem'
          type: array
          title: Events
          default: []
        processing_time:
          type: number
          title: Processing Time
          default: 0.0
        model_time:
          type: number
          title: Model Time
          default: 0.0
      type: object
      title: ActivityRecognitionEvent
    routers__tools__object_detection__FormData:
      properties:
        image:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: Image
        video:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: Video
        deployment_id:
          type: string
          format: uuid
          title: Deployment Id
        confidence:
          anyOf:
          - type: number
          - type: 'null'
          title: Confidence
      type: object
      required:
      - deployment_id
      title: FormData
    Body_tool_internlm_xcomposer2_v1_tools_internlm_xcomposer2_post:
      properties:
        prompt:
          type: string
          title: Prompt
        image:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: Image
        video:
          anyOf:
          - type: string
            format: binary
          - type: 'null'
          title: Video
      type: object
      required:
      - prompt
      title: Body_tool_internlm_xcomposer2_v1_tools_internlm_xcomposer2_post
    GroundingBox:
      properties:
        l:
          type: number
          title: L
        t:
          type: number
          title: T
        r:
          type: number
          title: R
        b:
          type: number
          title: B
      type: object
      required:
      - l
      - t
      - r
      - b
      title: GroundingBox
    ExtractRequest:
      properties:
        model:
          anyOf:
[...]
