openapi: 3.1.0
info:
  title: 'LandingAI Agentic Document Extraction (ADE) API v1: Parse, Extract, Classify, Split, Section Classes Tools API'
  version: 0.1.0
  description: 'Convert documents such as PDFs, images, and Office files into structured data with LandingAI''s Agentic Document Extraction (ADE) v1 endpoints. Includes Parse (documents to Markdown and structured chunks with grounding), Extract (schema-based field extraction), Classify (page-level classification), Split (separate multi-document files), and Section (hierarchical table of contents), plus asynchronous jobs for parsing and extraction. Documentation: https://docs.landing.ai'
servers:
- url: https://api.va.landing.ai
  description: Production vision tools API
tags:
- name: Tools
paths:
  /v1/ade/parse:
    post:
      tags:
      - Tools
      summary: ADE Parse
      description: "Parse a document or spreadsheet.\n\nThis endpoint parses documents (PDF, images)\n    and spreadsheets (XLSX, CSV) into structured Markdown, chunks, and metadata.\n    \n\n For EU users, use this endpoint:\n\n\n    `https://api.va.eu-west-1.landing.ai/v1/ade/parse`."
      operationId: tool_ade_parse_v1_ade_parse_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ParseRequestWithEncryptedPassword'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
        '206':
          description: There were some pages that failed to be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Rate limit exceeded
      security:
      - Basic Auth: []
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/parse' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'document=@document.pdf' \\\n  -F 'model=dpt-2-latest'  # Set the model (optional)"
      - lang: Python
        label: Python
        source: "import requests\nimport json\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/parse'\n\n# Set the model (optional)\ndata = {\n    'model': 'dpt-2-latest'\n}\n\n# Upload a document \ndocument = open('document.pdf', 'rb')\nfiles = {'document': document}\n\nresponse = requests.post(url, files=files, data=data, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('document', fs.createReadStream('document.pdf'));\n\n// Set the model (optional)\nform.append('model', 'dpt-2-latest');\n\naxios.post('https://api.va.landing.ai/v1/ade/parse', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/extract:
    post:
      tags:
      - Tools
      summary: ADE Extract
      description: "Extract structured data from Markdown using a JSON schema.\n\nThis endpoint\n    processes Markdown content and extracts structured data according to the provided\n    JSON schema.\n\nFor EU users, use this endpoint:\n\n\n    `https://api.va.eu-west-1.landing.ai/v1/ade/extract`."
      operationId: tool_ade_extract_v1_ade_extract_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExtractRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
        '206':
          description: Extraction completed with success but there was a schema validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Rate limit exceeded
      security:
      - Basic Auth: []
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/extract' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'schema={\"type\": \"object\", \"properties\": {\"field1\": {\"type\": \"string\"}, \"field2\": {\"type\": \"string\"}}}' \\\n  -F 'markdown=@markdown.md' \\\n  -F 'model=extract-latest'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/extract'\n\n# Read the schema file as a string\nwith open('schema.json', 'r') as f:\n    schema_content = f.read()\n\n# Prepare files and data\nfiles = {'markdown': open('markdown.md', 'rb')}\ndata = {\n    'schema': schema_content,\n    'model': 'extract-latest'\n}\n\n# Run extraction\nresponse = requests.post(url, files=files, data=data, headers=headers)\n\n# Return the results\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('markdown', fs.createReadStream('markdown.md'));\nform.append('schema', fs.readFileSync('schema.json', 'utf8'));\nform.append('model', 'extract-latest');\n\naxios.post('https://api.va.landing.ai/v1/ade/extract', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/extract/jobs:
    post:
      tags:
      - Tools
      summary: ADE Extract Jobs
      description: 'Extract structured data asynchronously.


        This endpoint creates a job that handles the processing for large markdown

        documents.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/extract/jobs`.'
      operationId: tool_ade_extract_jobs_v1_ade_extract_jobs_post
      security:
      - Basic Auth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncExtractRequest'
      responses:
        '202':
          description: Job queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreationResponse'
              example:
                job_id: 12345678-1234-1234-1234-123456789012
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Rate limit exceeded
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/extract/jobs' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'schema={\"type\": \"object\", \"properties\": {\"field1\": {\"type\": \"string\"}, \"field2\": {\"type\": \"string\"}}}' \\\n  -F 'markdown=@markdown.md' \\\n  -F 'model=extract-latest'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/extract/jobs'\n\n# Read the schema file as a string\nwith open('schema.json', 'r') as f:\n    schema_content = f.read()\n\n# Prepare files and data\nfiles = {'markdown': open('markdown.md', 'rb')}\ndata = {\n    'schema': schema_content,\n    'model': 'extract-latest'\n}\n\nresponse = requests.post(url, files=files, data=data, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('markdown', fs.createReadStream('markdown.md'));\nform.append('schema', fs.readFileSync('schema.json', 'utf8'));\nform.append('model', 'extract-latest');\n\naxios.post('https://api.va.landing.ai/v1/ade/extract/jobs', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
    get:
      tags:
      - Tools
      summary: ADE List Extract Jobs
      description: 'List all async extract jobs associated with your API key.


        Returns the list of jobs or an error response. For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/extract/jobs`.'
      operationId: tool_ade_list_extract_jobs_v1_ade_extract_jobs_get
      security:
      - Basic Auth: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Page number (0-indexed)
          default: 0
          title: Page
        description: Page number (0-indexed)
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of items per page
          default: 10
          title: Pagesize
        description: Number of items per page
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - cancelled
            - completed
            - failed
            - pending
            - processing
            type: string
          - type: 'null'
          description: Filter by job status.
          title: Status
        description: Filter by job status.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X GET 'https://api.va.landing.ai/v1/ade/extract/jobs' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/extract/jobs'\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\n\nconst url = 'https://api.va.landing.ai/v1/ade/extract/jobs';\n\naxios.get(url, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/extract/jobs/{job_id}:
    get:
      tags:
      - Tools
      summary: ADE Get Extract Jobs
      description: "Get the status for an async extract job.\n\nReturns the job status or an error\n   response. For EU users, use this endpoint:\n\n\n   `https://api.va.eu-west-1.landing.ai/v1/ade/extract/jobs/{job_id}`."
      operationId: tool_ade_get_extract_jobs_v1_ade_extract_jobs__job_id__get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractJobStatusResponse'
        '206':
          description: Extraction completed with success but there was a schema validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractJobStatusResponse'
        '404':
          description: Job ID not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X GET 'https://api.va.landing.ai/v1/ade/extract/jobs/{job_id}' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = f'https://api.va.landing.ai/v1/ade/extract/jobs/{job_id}'\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\n\nconst url = `https://api.va.landing.ai/v1/ade/extract/jobs/{jobId}`;\n\naxios.get(url, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/extract/build-schema:
    post:
      tags:
      - Tools
      summary: ADE Build Extract Schema
      description: "Generate a JSON schema from Markdown using AI.\n\nThis endpoint analyzes Markdown\n    content and generates a JSON schema suitable for use with the extract endpoint.\n    It can also refine an existing schema based on new documents or iterate on a schema\n    based on prompt instructions.\n\nFor EU users, use this endpoint:\n\n\n    `https://api.va.eu-west-1.landing.ai/v1/ade/extract/build-schema`."
      operationId: tool_ade_build_schema_v1_ade_extract_build_schema_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BuildSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/extract/build-schema' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'markdowns=@markdown.md' \\\n  -F 'model=extract-latest' \\\n  -F 'prompt=Extract invoice fields including vendor, date, and total amount'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/extract/build-schema'\n\n# Prepare files and data\nfiles = [('markdowns', open('markdown.md', 'rb'))]\ndata = {\n    'model': 'extract-latest',\n    'prompt': 'Extract invoice fields including vendor, date, and total amount'\n}\n\nresponse = requests.post(url, files=files, data=data, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('markdowns', fs.createReadStream('markdown.md'));\nform.append('model', 'extract-latest');\nform.append('prompt', 'Extract invoice fields including vendor, date, and total amount');\n\naxios.post('https://api.va.landing.ai/v1/ade/extract/build-schema', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/split:
    post:
      tags:
      - Tools
      summary: ADE Split
      description: "Split classification for documents.\n\nThis endpoint classifies document sections\n    based on markdown content and split options.\n\nFor EU users, use this endpoint:\n\n\n    `https://api.va.eu-west-1.landing.ai/v1/ade/split`."
      operationId: tool_ade_split_v1_ade_split_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SplitRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/split' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'markdown=@markdown.md' \\\n  -F 'split_class=[{\"name\": \"split type name\", \"description\": \"description of split type\", \"identifier\": \"unique identifier field\"}]' \\\n  -F 'model=split-latest'"
      - lang: Python
        label: Python
        source: "import requests\nimport json\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/split'\n\n# Prepare split classes\nsplit_class = [\n    {\n        'name': 'split type name',\n        'description': 'description of split type',\n        'identifier': 'unique identifier field'\n    }\n]\n\n# Prepare files and data\nfiles = {'markdown': open('markdown.md', 'rb')}\ndata = {\n    'split_class': json.dumps(split_class),\n    'model': 'split-latest'\n}\n\n# Run split classification\nresponse = requests.post(url, files=files, data=data, headers=headers)\n\n# Return the results\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('markdown', fs.createReadStream('markdown.md'));\n\nconst splitClass = [\n  {\n    name: 'split type name',\n    description: 'description of split type',\n    identifier: 'unique identifier field'\n  }\n];\n\nform.append('split_class', JSON.stringify(splitClass));\nform.append('model', 'split-latest');\n\naxios.post('https://api.va.landing.ai/v1/ade/split', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/section:
    post:
      tags:
      - Tools
      summary: ADE Section
      description: 'Section parsed markdown into a hierarchical table of contents.


        This endpoint accepts the markdown output from /ade/parse

        (with reference anchors) and returns a flat, reading-order list of

        sections with hierarchy levels and reference ranges.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/section`.'
      operationId: tool_ade_section_v1_ade_section_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SectionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/section' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'markdown=@parsed_output.md' \\\n  -F 'model=section-latest'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/section'\n\n# Prepare files and data\nfiles = {'markdown': open('parsed_output.md', 'rb')}\ndata = {\n    'model': 'section-latest'\n}\n\n# Run section classification\nresponse = requests.post(url, files=files, data=data, headers=headers)\n\n# Return the results\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('markdown', fs.createReadStream('parsed_output.md'));\nform.append('model', 'section-latest');\n\naxios.post('https://api.va.landing.ai/v1/ade/section', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/classify:
    post:
      tags:
      - Tools
      summary: ADE Classify
      description: 'Classify the pages of a document into classes you define.


        This endpoint accepts PDFs, images, and other supported file types

        (either as a `document` upload or `document_url`) together with a

        list of `classes`, and returns a classification result for each page.


        For EU users, use this endpoint:


        `https://api.va.eu-west-1.landing.ai/v1/ade/classify`.'
      operationId: tool_ade_classify_v1_ade_classify_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ClassifyRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/classify' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'classes=[{\"class\":\"Class 1\",\"description\":\"Description of Class 1\"},{\"class\":\"Class 2\",\"description\":\"Description of Class 2\"}]' \\\n  -F 'document=@document.pdf'"
      - lang: Python
        label: Python
        source: "import requests\nimport json\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/classify'\n\nclasses = [\n    {'class': 'Class 1', 'description': 'Description of Class 1'},\n    {'class': 'Class 2', 'description': 'Description of Class 2'}\n]\n\nfiles = {'document': open('document.pdf', 'rb')}\ndata = {'classes': json.dumps(classes)}\n\nresponse = requests.post(url, files=files, data=data, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('document', fs.createReadStream('document.pdf'));\n\nconst classes = [\n  { class: 'Class 1', description: 'Description of Class 1' },\n  { class: 'Class 2', description: 'Description of Class 2' }\n];\nform.append('classes', JSON.stringify(classes));\n\naxios.post('https://api.va.landing.ai/v1/ade/classify', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/parse/jobs:
    post:
      tags:
      - Tools
      summary: ADE Parse Jobs
      description: "Parse documents asynchronously.\n\nThis endpoint creates a job that handles the\n    processing for both large documents and large batches of documents.\n\n For EU\n    users, use this endpoint:\n\n\n    `https://api.va.eu-west-1.landing.ai/v1/ade/parse/jobs`."
      operationId: tool_ade_parse_jobs_v1_ade_parse_jobs_post
      security:
      - Basic Auth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncParseRequestWithEncryptedPassword'
      responses:
        '202':
          description: Job queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreationResponse'
              example:
                job_id: 12345678-1234-1234-1234-123456789012
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Rate limit exceeded
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X POST 'https://api.va.landing.ai/v1/ade/parse/jobs' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'document=@document.pdf' \\\n  -F 'model=dpt-2-latest'  # Set the model (optional)"
      - lang: Python
        label: Python
        source: "import requests\nimport json\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/parse/jobs'\n\n# Set the model (optional)\ndata = {\n    'model': 'dpt-2-latest'\n}\n\n# Upload a document \ndocument = open('document.pdf', 'rb')\nfiles = {'document': document}\n\nresponse = requests.post(url, files=files, data=data, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\nconst FormData = require('form-data');\nconst fs = require('fs');\n\nconst form = new FormData();\nform.append('document', fs.createReadStream('document.pdf'));\n\n// Set the model (optional)\nform.append('model', 'dpt-2-latest');\n\naxios.post('https://api.va.landing.ai/v1/ade/parse/jobs', form, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY',\n    ...form.getHeaders()\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
    get:
      tags:
      - Tools
      summary: ADE List Parse Jobs
      description: 'List all async parse jobs associated with your API key. Returns the list of jobs

        or an error response. For EU users, use this endpoint:



        `https://api.va.eu-west-1.landing.ai/v1/ade/parse/jobs`.'
      operationId: tool_ade_list_parse_jobs_v1_ade_parse_jobs_get
      security:
      - Basic Auth: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Page number (0-indexed)
          default: 0
          title: Page
        description: Page number (0-indexed)
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of items per page
          default: 10
          title: Pagesize
        description: Number of items per page
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - cancelled
            - completed
            - failed
            - pending
            - processing
            type: string
          - type: 'null'
          description: Filter by job status.
          title: Status
        description: Filter by job status.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X GET 'https://api.va.landing.ai/v1/ade/parse/jobs' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = 'https://api.va.landing.ai/v1/ade/parse/jobs'\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\n\nconst url = 'https://api.va.landing.ai/v1/ade/parse/jobs';\n\naxios.get(url, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/ade/parse/jobs/{job_id}:
    get:
      tags:
      - Tools
      summary: ADE Get Parse Jobs
      description: "Get the status for an async parse job.\n\nReturns the job status or an error\n   response. For EU users, use this endpoint:\n\n\n   `https://api.va.eu-west-1.landing.ai/v1/ade/parse/jobs/{job_id}`."
      operationId: tool_ade_get_parse_jobs_v1_ade_parse_jobs__job_id__get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '206':
          description: There were some pages that failed to be parsed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Job ID not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl -X GET 'https://api.va.landing.ai/v1/ade/parse/jobs/{job_id}' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
      - lang: Python
        label: Python
        source: "import requests\n\nheaders = {\n    'Authorization': 'Bearer YOUR_API_KEY'\n}\n\nurl = f'https://api.va.landing.ai/v1/ade/parse/jobs/{job_id}'\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
      - lang: JavaScript
        label: Node.js
        source: "const axios = require('axios');\n\nconst url = `https://api.va.landing.ai/v1/ade/parse/jobs/{jobId}`;\n\naxios.get(url, {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n.then(response => console.log(response.data))\n.catch(error => console.error(error));"
  /v1/tools/agentic-document-analysis:
    post:
      tags:
      - Tools
      summary: Agentic Document Extraction (Legacy)
      description: "This is a legacy endpoint. Use the ADE Parse endpoint instead.\n\nSend\n    documents to the Agentic Document Extraction API.\n\nThe API parses the\n    documents and returns the extracted data as structured Markdown and JSON.\n\nYou\n    can include an extraction schema to extract key-value pairs from the parsed\n    content.\n\nFor EU users, use this endpoint:\n\n\n    `https://api.va.eu-west-1.landing.ai/v1/tools/agentic-document-analysis`."
      operationId: tool_agentic_doc_analysis_v1_tools_agentic_document_analysis_post
      security:
      - Basic Auth: []
      parameters:
      - name: pages
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Which pages to process, separated by commas and starting from 0. For example, to process the first 3 pages, use ''0,1,2''. '
          title: Pages
        description: 'Which pages to process, separated by commas and starting from 0. For example, to process the first 3 pages, use ''0,1,2''. '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__ade__core__custom_types__DocAnalysisRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgenticDocAnalysisResponse'
        '206':
          description: Contains only pages that succeeded processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgenticDocAnalysisResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    head:
      tags:
      - Tools
      summary: Head Agentic Document Analysis
      operationId: head_agentic_document_analysis_v1_tools_agentic_document_analysis_head
      security:
      - Basic Auth: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/tools/markdown-schema-suggestion:
    post:
      tags:
      - Tools
      summary: Tool Markdown To Jsonschema
      description: Endpoint to convert markdown to JSON schema.
      operationId: tool_markdown_to_jsonschema_v1_tools_markdown_schema_suggestion_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkdownToJSONSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkdownToJSONSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/wsi-embedding:
    post:
      tags:
      - Tools
      summary: Tool Wsi Embedding
      description: "Performs whole slide image (WSI) embedding generation for pathology image analysis and feature extraction.\n\nArgs:\n    params (WSIEmbeddingRequest): The input data containing the following fields:\n        - image (bytes): Base64-encoded patch image from a whole slide image.\n        - mpp (float): Microns per pixel resolution of the image patch.\n            Required for proper scaling and analysis.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for WSI embedding generation.\n\nReturns:\n    WSIEmbeddingResponse | JSONResponse\n        Success: WSIEmbeddingResponse containing generated embeddings for the WSI patch.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_wsi_embedding_v1_tools_wsi_embedding_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WSIEmbeddingRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WSIEmbeddingResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/qr-reader:
    post:
      tags:
      - Tools
      summary: Tool Qr Reader
      description: "Performs QR code detection and reading to extract encoded information from images.\n\nArgs:\n    params (QRReaderRequest): The input data containing the following fields:\n        - image (bytes): The image file to analyze for QR code detection and reading.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for QR code processing.\n\nReturns:\n    QRReaderResponse | JSONResponse\n        Success: QRReaderResponse containing detected QR codes with decoded text and locations.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_qr_reader_v1_tools_qr_reader_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QRReaderRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QRReaderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/owlv2:
    post:
      tags:
      - Tools
      summary: Tool Owlv2
      description: "Performs object detection using the OWL-ViT v2 model with text prompts.\n\nArgs:\n    params (Owlv2Request): The input request containing the following fields:\n        - image (UploadFile): The image file to analyze for object detection.\n        - prompts (List[str]): Text descriptions of objects to detect in the image.\n        - confidence (float, *optional*): Minimum confidence threshold for detections.\n            Defaults to 0.2, must be between 0 and 1.\n\n    baseten_inference_sender: Dependency Injection for\n        sending request to the baseten server.\n\nReturns:\n    BboxResponse | JSONResponse\n        List of detected objects with bounding boxes, labels, and confidence scores, or error response."
      operationId: tool_owlv2_v1_tools_owlv2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Owlv2Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/BboxResponse'
                - type: 'null'
                title: Response Tool Owlv2 V1 Tools Owlv2 Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/depth-anything-v2:
    post:
      tags:
      - Tools
      summary: Tool Depth Anything V2
      description: "Performs depth estimation on images using the Depth-Anything-V2 model to generate depth maps.\n\nArgs:\n    params (DepthAnythingV2Request): The input data containing the following fields:\n        - image (bytes): The image file to analyze for depth estimation.\n        - grayscale (bool, *optional*): Whether to output the depth map in grayscale format.\n            Defaults to False for colored depth maps.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for Depth-Anything-V2 processing.\n\nReturns:\n    DepthAnythingV2Response | JSONResponse\n        Success: DepthAnythingV2Response containing depth map data and metadata.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_depth_anything_v2_v1_tools_depth_anything_v2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepthAnythingV2Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthAnythingV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/loca:
    post:
      tags:
      - Tools
      summary: Tool Loca
      description: "Performs localized content analysis using the LOCA model to analyze specific regions or the entire image.\n\nArgs:\n    params (LocaRequest): The input data containing the following fields:\n        - image (bytes): The image file to analyze for localized content analysis.\n        - bbox (BoundingBox, *optional*): Bounding box coordinates to focus analysis on a specific region.\n            If not provided, analyzes the entire image.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for LOCA processing.\n\nReturns:\n    LocaResponse | JSONResponse\n        Success: LocaResponse containing localized analysis results.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_loca_v1_tools_loca_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocaRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/florence2:
    post:
      tags:
      - Tools
      summary: Tool Florencev2
      description: "Performs various computer vision tasks using the Florence V2 model.\n\nArgs:\n    params (FlorenceV2Request): The input request containing the following fields:\n        - image (UploadFile, *optional*): Single image file for processing.\n        - images (List[UploadFile], *optional*): Multiple image files for batch processing.\n        - video_bytes (bytes, *optional*): Video data for video analysis tasks.\n        - task (str): The specific task to perform (e.g., \"CAPTION\", \"OD\", \"OCR\").\n        - prompt (str, *optional*): Text prompt for task-specific guidance.\n\n    baseten_inference_sender: Dependency Injection for\n        sending request to the baseten server.\n\nReturns:\n    FlorenceV2Response | JSONResponse\n        Task-specific results including captions, object detections, or OCR text, or error response."
      operationId: tool_florencev2_v1_tools_florence2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlorenceV2Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlorenceV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/nsfw-classification:
    post:
      tags:
      - Tools
      summary: Tool Nsfw Classification
      description: "Performs NSFW (Not Safe For Work) content classification to detect inappropriate content in images.\n\nArgs:\n    params (NSFWRequest): The input data containing the following fields:\n        - image (bytes): The image file to analyze for NSFW content classification.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for NSFW classification.\n\nReturns:\n    NSFWResponse | JSONResponse\n        Success: NSFWResponse containing classification scores for different content categories.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_nsfw_classification_v1_tools_nsfw_classification_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NSFWRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NSFWResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/florence2-qa:
    post:
      tags:
      - Tools
      summary: Tool Florencev2 Qa
      description: "Performs visual question answering using the Florence2 model to answer questions about image content.\n\nArgs:\n    params (FlorenceQARequest): The input data containing the following fields:\n        - image (bytes): The image file to analyze for visual question answering.\n        - question (str): The question to ask about the image content.\n            The model will analyze the image and provide an answer.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for Florence2 QA processing.\n\nReturns:\n    FlorenceV2QAResponse | JSONResponse\n        Success: FlorenceV2QAResponse containing the answer to the visual question.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_florencev2_qa_v1_tools_florence2_qa_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlorenceQARequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlorenceV2QAResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/pose-detector:
    post:
      tags:
      - Tools
      summary: Tool Pose Detection
      description: "Performs human pose detection to identify and locate body keypoints and skeletal structure in images.\n\nArgs:\n    params (PoseDetectionRequest): The input data containing the following fields:\n        - image (bytes): The image file to analyze for pose detection.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for pose detection processing.\n\nReturns:\n    PoseDetectionResponse | JSONResponse\n        Success: PoseDetectionResponse containing detected poses with keypoint coordinates.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_pose_detection_v1_tools_pose_detector_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoseDetectionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoseDetectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/barcode-reader:
    post:
      tags:
      - Tools
      summary: Tool Barcode Reader
      description: "Extracts barcode information from an image using barcode detection models.\n\nArgs:\n    params (BarcodeReaderRequest): The input request containing the following fields:\n        - image (UploadFile): The image file containing barcode(s) to be detected and read.\n\n    baseten_inference_sender: Dependency Injection for\n        sending request to the baseten server.\n\nReturns:\n    BarcodeReaderResponse | JSONResponse\n        List of detected barcodes with their values and locations, or error response."
      operationId: tool_barcode_reader_v1_tools_barcode_reader_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BarcodeReaderRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BarcodeReaderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/internlm-xcomposer2:
    post:
      tags:
      - Tools
      summary: Tool Internlm Xcomposer2
      description: "Performs multimodal analysis using the InternLM-XComposer2 model to generate text responses from images or videos.\n\nArgs:\n    prompt (str): Text prompt to guide the analysis and response generation.\n    image (UploadFile, *optional*): Image file to analyze.\n        Cannot be provided together with video.\n    video (UploadFile, *optional*): Video file to analyze.\n        Cannot be provided together with image.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for InternLM-XComposer2 processing.\n\nReturns:\n    InternLMXComposer2Response | JSONResponse\n        Success: InternLMXComposer2Response containing generated text response.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_internlm_xcomposer2_v1_tools_internlm_xcomposer2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_internlm_xcomposer2_v1_tools_internlm_xcomposer2_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternLMXComposer2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/video-temporal-localization:
    post:
      tags:
      - Tools
      summary: Tool Video Temporal Localization
      description: "Performs temporal localization on videos to identify specific events or content at particular time intervals.\n\nArgs:\n    data (FormData): The form data containing the following fields:\n        - prompt (str): Text prompt describing the content or event to locate in the video.\n        - model (TemporalLocalizationTools): The AI model to use for temporal localization.\n            Options: internlm-xcomposer2, gpt4o, qwen2vl, qwen25vl.\n        - video (UploadFile): The video file to analyze for temporal content localization.\n        - chunk_length (float, *optional*): Length of each processing chunk in seconds.\n        - chunk_length_seconds (float, *optional*): Alternative specification for chunk length in seconds.\n        - chunk_length_frames (int, *optional*): Length of each processing chunk in frame count.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for video temporal localization.\n\nReturns:\n    VideoTemporalLocalizationResponse | JSONResponse\n        Success: VideoTemporalLocalizationResponse containing temporal localization results with timestamps.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_video_temporal_localization_v1_tools_video_temporal_localization_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__video_temporal_localization__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTemporalLocalizationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/florence2-sam2:
    post:
      tags:
      - Tools
      summary: Tool Florence2 Sam2
      description: "Performs object detection and segmentation using Florence2 and SAM2 models for precise instance segmentation.\n\nArgs:\n    data (FormData): The form data containing the following fields:\n        - prompts (List[str]): List of text prompts describing objects to detect and segment.\n        - image (UploadFile, *optional*): Image file to analyze for object detection and segmentation.\n        - video (UploadFile, *optional*): Video file to analyze for temporal object segmentation.\n        - chunk_length (int, *optional*): Length of video chunks for processing.\n            Used for video segmentation tasks.\n        - iou_threshold (float, *optional*): IoU threshold for filtering detections.\n            Range: 0.1-1.0, defaults to 0.6.\n        - nms_threshold (float, *optional*): Non-maximum suppression threshold.\n            Range: 0.1-1.0, defaults to 1.0.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for Florence2+SAM2 processing.\n\nReturns:\n    Florence2SAM2Response | JSONResponse\n        Success: Florence2SAM2Response containing detected objects with segmentation masks.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_florence2_sam2_v1_tools_florence2_sam2_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__florence2_sam2__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Florence2SAM2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/glee:
    post:
      tags:
      - Tools
      summary: Tool Glee
      description: "Performs text-to-instance segmentation using the GLEE model to detect and segment objects based on text prompts.\n\nArgs:\n    data (FormData): The form data containing the following fields:\n        - prompts (List[str]): List of text prompts describing objects to detect and segment.\n            Must contain at least one prompt.\n        - image (UploadFile): The image file to analyze for instance segmentation.\n            Required field for segmentation analysis.\n        - video (UploadFile, *optional*): Video file input (not used for GLEE).\n        - nms_threshold (float, *optional*): Non-maximum suppression threshold for filtering overlapping detections.\n            Helps reduce duplicate detections.\n        - confidence (float, *optional*): Confidence threshold for object detection.\n            Objects with lower confidence scores will be filtered out.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for GLEE processing.\n\nReturns:\n    TextToInstanceSegmentationResponse | JSONResponse\n        Success: TextToInstanceSegmentationResponse containing detected instances with segmentation masks.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_glee_v1_tools_glee_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__glee__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextToInstanceSegmentationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/text-to-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Text To Od
      description: "Performs text-to-object detection on images or videos with access to various detection models\n\nArgs:\n    data (FormData): The input data containing the following keys:\n        - prompts (List[str]): List of text prompts describing objects to detect.\n            Must contain at least one prompt. For Florence2,\n            total prompt length cannot exceed 800 characters. For agentic,\n            only one prompt is allowed.\n        - model (TextToODModel): The detection model to use:\n            \"owlv2\", \"countgd\", \"florence2\", \"agentic\", \"glee\", or \"florencev2\" (deprecated).\n        - image (UploadFile, *optional*): The image file to analyze for object detection.\n        - video (UploadFile, *optional*): The video file to analyze for object detection.\n            Note: Not all models support video input.\n        - nms_threshold (float, *optional*): Non-maximum suppression threshold\n            for filtering overlapping detections.\n        - confidence (float, *optional*): Confidence threshold for object detection.\n            Not supported by all models.\n        - job_id (UUID, *optional*): Unique identifier for tracking the job.\n            Not supported by all models.\n\n    baseten_inference_sender: Dependency Injection for\n        sending request to the baseten server.\n\nReturns:\n    ODResponse | JSONResponse: Detection results containing bounding boxes,\n        labels, and confidence scores for detected objects, or error response."
      operationId: tool_text_to_od_v1_tools_text_to_object_detection_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__text_to_object_detection__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/visual-prompts-to-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Visual Prompts To Od
      description: "Performs object detection using visual prompts (bounding box coordinates) instead of text prompts.\n\nArgs:\n    visual_prompts (str): JSON string containing visual prompt coordinates.\n        Format: List of bounding box coordinates as [[x1, y1, x2, y2], ...].\n    model (VisualPromptsToODModel): The detection model to use for visual prompt-based detection.\n        Currently supports CountGD.\n    image (UploadFile, *optional*): Image file to analyze for object detection.\n        Cannot be provided together with video.\n    video (UploadFile, *optional*): Video file to analyze for object detection.\n        Cannot be provided together with image.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for visual prompt-based detection.\n\nReturns:\n    ODResponse | JSONResponse\n        Success: ODResponse containing detected objects guided by visual prompts.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_visual_prompts_to_od_v1_tools_visual_prompts_to_object_detection_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_visual_prompts_to_od_v1_tools_visual_prompts_to_object_detection_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/countgd:
    post:
      tags:
      - Tools
      summary: Tool Countgd
      description: "Performs object counting and detection using the CountGD model with text prompts and/or visual prompts.\n\nArgs:\n    params (CountGDRequest): The input data containing the following fields:\n        - image (bytes): The image file to analyze for object counting and detection.\n        - prompt (str, *optional*): Text description of objects to count and detect.\n            Can be used alone or in combination with visual_prompts.\n        - visual_prompts (List[List[float]], *optional*): List of bounding box coordinates for visual prompting.\n            Each inner list contains [x1, y1, x2, y2] coordinates.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for CountGD processing.\n\nReturns:\n    BboxResponse | JSONResponse\n        Success: BboxResponse containing detected objects with bounding boxes and count information.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_countgd_v1_tools_countgd_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountGDRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BboxResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/flux1:
    post:
      tags:
      - Tools
      summary: Tool Flux1
      description: "Performs AI-powered image generation, inpainting, or image-to-image transformation using the Flux1 diffusion model.\n\nArgs:\n    data (Flux1Request): The form data containing the following fields:\n        - task (Flux1Task, *optional*): The task to perform - image_generation, mask_inpainting, or image_to_image.\n            Defaults to image_generation.\n        - prompt (str): Text description of the desired image or modifications.\n            Maximum 512 characters.\n        - image (UploadFile, *optional*): Original image for inpainting or image-to-image tasks.\n            Required for mask_inpainting and image_to_image tasks.\n        - mask_image (UploadFile, *optional*): Mask image indicating areas to inpaint.\n            Required for mask_inpainting task, must match image dimensions.\n        - height (int, *optional*): Height in pixels of generated image, must be multiple of 8.\n            Defaults to 512.\n        - width (int, *optional*): Width in pixels of generated image, must be multiple of 8.\n            Defaults to 512.\n        - strength (float, *optional*): Transformation strength for image-to-image tasks.\n            Range: 0.0-1.0, defaults to 0.6.\n        - num_inference_steps (int, *optional*): Number of denoising steps.\n            Defaults to 10.\n        - guidance_scale (float, *optional*): Classifier-free guidance scale.\n            Higher values improve prompt adherence. Defaults to 3.5.\n        - num_images_per_prompt (int, *optional*): Number of images to generate per prompt.\n            Defaults to 1.\n        - max_sequence_length (int, *optional*): Maximum prompt sequence length.\n            Range: 0-512, defaults to 512.\n        - seed (int, *optional*): Random seed for reproducible generation.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for Flux1 processing.\n\nReturns:\n    Flux1Response | JSONResponse\n        Success: Flux1Response containing generated images in base64 format.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_flux1_v1_tools_flux1_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Flux1Request'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flux1Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/image-to-text:
    post:
      tags:
      - Tools
      summary: Tool Image To Text
      description: "Performs image-to-text conversion to generate textual descriptions or answers from visual content.\n\nArgs:\n    data (FormData): The form data containing the following fields:\n        - prompt (str): Text prompt to guide the image analysis and response generation.\n        - model (ImageToText): The AI model to use for analysis.\n            Options: qwen2vl, internlm-xcomposer, qwen25vl.\n        - image (UploadFile, *optional*): Single image file to analyze.\n            Cannot be used with images field for some models.\n        - images (List[UploadFile], *optional*): Multiple image files to analyze.\n            Not supported by internlm-xcomposer model.\n        - video (UploadFile, *optional*): Video file to analyze for temporal understanding.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for image-to-text processing.\n\nReturns:\n    ImageToTextResponse | JSONResponse\n        Success: ImageToTextResponse containing generated text description or answer.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_image_to_text_v1_tools_image_to_text_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__image_to_text__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageToTextResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/depth-pro:
    post:
      tags:
      - Tools
      summary: Tool Depth Pro
      description: "Performs high-precision depth estimation using the Depth-Pro model to generate detailed depth maps with focal length estimation.\n\nArgs:\n    data (BaseMediaRequest): The form data containing the following fields:\n        - image (UploadFile): The image file to analyze for depth estimation.\n            Required field for depth map generation.\n        - video (UploadFile, *optional*): Video file input (not used for Depth-Pro).\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for Depth-Pro processing.\n\nReturns:\n    DepthProResponse | JSONResponse\n        Success: DepthProResponse containing depth map data and processing metadata.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_depth_pro_v1_tools_depth_pro_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseMediaRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthProResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/text-to-instance-segmentation:
    post:
      tags:
      - Tools
      summary: Tool Text To Seg
      description: "Performs text-to-instance segmentation to detect and segment objects based on\ntext descriptions.\n\nArgs:\n    data (FormData): The form data containing the following fields:\n        - prompt (str): Text description of objects to detect and segment.\n        - model (TextToSegModel): The segmentation model to use.\n            Currently supports florence2sam2.\n        - image: Image file to analyze for segmentation.\n        - video: Video file to analyze for temporal segmentation.\n        - chunk_length_frames: Number of frames per chunk for video processing.\n        - iou_threshold: IoU threshold for filtering detections.\n            Range: 0.1-1.0.\n        - nms_threshold: Non-maximum suppression threshold.\n            Range: 0.1-1.0.\n        - job_id (UUID, *optional*): Unique identifier for tracking the job.\n    baseten_inference_sender:\n        Dependency Injection for sending inference requests to the Baseten model\n        server for text-to-segmentation processing.\n\nReturns:\n    TextToInstanceSegmentationResponse | JSONResponse\n        Success: TextToInstanceSegmentationResponse containing segmented instances\n        with masks.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_text_to_seg_v1_tools_text_to_instance_segmentation_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__text_to_instance_segmentation__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextToInstanceSegmentationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/classification:
    post:
      tags:
      - Tools
      summary: Tool Classification
      description: "Performs zero-shot image classification to categorize images based on provided labels.\n\nArgs:\n    data (ClassificationRequest): The form data containing the following fields:\n        - model (ClassificationModel): The classification model to use for analysis.\n            Currently supports SigLIP zero-shot image classification.\n        - image (UploadFile): The image file to classify.\n            Required field for classification analysis.\n        - labels (List[str]): Candidate labels for image classification.\n            Must contain at least one label for classification.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for image classification.\n\nReturns:\n    ClassificationResponse | JSONResponse\n        Success: ClassificationResponse containing classification scores and labels.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_classification_v1_tools_classification_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/document-analysis:
    post:
      tags:
      - Tools
      summary: Tool Doc Analysis
      description: "Performs comprehensive document analysis to extract and parse text, tables, and\nfigures from images or PDFs.\n\nArgs:\n    data (DocAnalysisRequest): The form data containing the following fields:\n        - image (UploadFile, *optional*): Image file to analyze (max 50MB).\n            Cannot be provided together with PDF.\n        - pdf (UploadFile, *optional*): PDF file to analyze (max 50MB, max 2 pages).\n            Cannot be provided together with image.\n        - parse_text (bool, *optional*): Whether to parse and analyze text content.\n            Defaults to True.\n        - parse_tables (bool, *optional*): Whether to parse and analyze table\n            structures. Defaults to True.\n        - parse_figures (bool, *optional*): Whether to parse and analyze figures\n            and images. Defaults to True.\n        - summary_verbosity (Verbosity, *optional*): Level of detail in\n            AI-generated summaries. Options: none, brief, normal, detailed.\n            Defaults to normal.\n        - return_chunk_crops (bool, *optional*): Whether to return cropped images\n            of each chunk. Defaults to False.\n        - return_page_crops (bool, *optional*): Whether to return cropped images of\n            each page. Defaults to False.\n        - caption_format (OutputFormat, *optional*): Format for chunk captions.\n            Options: markdown, json, xml, text. Defaults to json.\n        - response_format (OutputFormat, *optional*): Format for the overall\n            response. Options: markdown, json, xml, text. Defaults to json.\n        - filename (str, *optional*): Optional filename for integration into API\n            output.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for document\n        analysis.\n\nReturns:\n    DocAnalysisResponse | JSONResponse\n        Success: DocAnalysisResponse containing parsed document structure and\n            content.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_doc_analysis_v1_tools_document_analysis_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__doc_analysis__DocAnalysisRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocAnalysisResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/paddle-ocr:
    post:
      tags:
      - Tools
      summary: Tool Paddle Ocr
      description: "Performs optical character recognition using PaddleOCR to extract text from images.\n\nArgs:\n    data (BaseMediaRequest): The form data containing the following fields:\n        - image (UploadFile): The image file to analyze for text extraction.\n            Required field for OCR processing.\n        - video (UploadFile, *optional*): Video file input (not used for OCR).\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for PaddleOCR processing.\n\nReturns:\n    PaddleOcrResponse | JSONResponse\n        Success: PaddleOcrResponse containing extracted text with bounding boxes and confidence scores.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_paddle_ocr_v1_tools_paddle_ocr_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseMediaRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaddleOcrResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/embeddings:
    post:
      tags:
      - Tools
      summary: Tool Embeddings
      description: "Generates text embeddings using the specified embedding model.\n\nArgs:\n    data (EmbeddingsRequest): The input request containing the following fields:\n        - model (EmbeddingsModel): The embedding model to use for text vectorization.\n            Currently supports Stella 1.5B model.\n        - input (List[str]): The list of text prompts to generate embeddings for.\n\n    baseten_inference_sender: Dependency Injection for\n        sending request to the baseten server.\n\nReturns:\n    EmbeddingsResponse | JSONResponse\n        List of numerical embeddings corresponding to the input texts, or error response."
      operationId: tool_embeddings_v1_tools_embeddings_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/custom-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Object Detection
      description: "Performs object detection using custom trained models deployed on the\nLanding AI platform.\n\nArgs:\n    data (FormData): The input request containing the following fields:\n        - deployment_id (UUID): The unique identifier of the deployed\n        custom model.\n        - image (UploadFile): The image file to analyze for object\n        detection.\n        - confidence (float, *optional*): Minimum confidence threshold for\n        detections.\n            If not provided, all detections above the model's default\n            threshold are returned.\n\nReturns:\n    ODResponse | JSONResponse\n        List of detected objects with bounding boxes, labels, and\n        confidence scores, or error response."
      operationId: tool_object_detection_v1_tools_custom_object_detection_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__object_detection__FormData'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/agentic-object-detection:
    post:
      tags:
      - Tools
      summary: Tool Agentic Od
      description: "Performs agentic object detection on images to identify and locate objects based on text prompts.\n\nArgs:\n    data (FormData): The form data containing the following fields:\n        - prompts (List[str]): List containing exactly one text prompt describing what objects to detect.\n            Must contain between 1 and 1 elements.\n        - image (UploadFile): The image file to analyze for object detection.\n            Required field, cannot be None.\n        - video (UploadFile, *optional*): Video file input (not supported for agentic OD).\n            Will return an error if provided.\n    baseten_inference_sender: Dependency Injection for\n        sending inference requests to the Baseten model server for agentic object detection.\n\nReturns:\n    ODResponse | JSONResponse\n        Success: ODResponse containing detected objects with bounding boxes and labels.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_agentic_od_v1_tools_agentic_object_detection_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/routers__tools__agentic_od__FormData'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ODResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/docling:
    post:
      tags:
      - Tools
      summary: Tool Docling
      description: "Performs document layout analysis using the Docling model to detect and analyze\ndocument structure elements.\n\nArgs:\n    data (DocumentNumberChunksRequest):\n        The form data containing the following fields:\n        - images (List[bytes]):\n            List of image files as byte arrays to analyze for layout detection.\n            Each image represents a page or document section.\n    baseten_inference_sender:\n        Dependency Injection for sending inference requests to the Baseten model\n        server for Docling layout analysis.\n    modelserver_client:\n        Dependency Injection for HTTP client to communicate with the Docling model\n        server as an alternative to Baseten.\n\nReturns:\n    DoclingResponse | JSONResponse\n        Success:\n            DoclingResponse containing detected layout elements and structure\n            information.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_docling_v1_tools_docling_post
      security:
      - Basic Auth: []
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 480
          title: Timeout
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentNumberChunksRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoclingResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/license-plate:
    post:
      tags:
      - Tools
      summary: Tool License Plate
      description: "Performs automated license plate recognition on video content to detect and read\nlicense plates and vehicle information.\n\nArgs:\n    video (UploadFile): The video file to analyze for license plate detection.\n        Required field containing video data for processing.\n    modelserver_client: Dependency Injection for\n        HTTP client to communicate with the license plate recognition model server.\n\nReturns:\n    LicensePlateResponse | JSONResponse\n        Success:\n            LicensePlateResponse containing detected license plates with vehicle\n            details and timestamps.\n        Error: JSONResponse with error details and appropriate status code."
      operationId: tool_license_plate_v1_tools_license_plate_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_license_plate_v1_tools_license_plate_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/activity-recognition:
    post:
      tags:
      - Tools
      summary: Tool Activity Recognition
      description: "Performs activity recognition on video content to identify and analyze activities.\n\nArgs:\n    video (UploadFile): The video file to analyze for activity recognition.\n    prompt (str):\n        The prompt to guide activity recognition and describe what activities to\n        look for.\n    specificity (Specificity, *optional*):\n        Detail level in the response (low, medium, high, max).\n        Defaults to MAX for maximum detail.\n    with_audio (bool, *optional*): Whether to process audio as well as video.\n        Defaults to False.\n    modelserver_client: Dependency Injection for\n        HTTP client to communicate with the activity recognition model server.\n\nReturns:\n    ActivityRecognitionResponse | JSONResponse\n        Success:\n            ActivityRecognitionResponse containing detected activities and timing\n            information.\n        Error: JSONResponse with error details and 500 status code."
      operationId: tool_activity_recognition_v1_tools_activity_recognition_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_tool_activity_recognition_v1_tools_activity_recognition_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityRecognitionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/vision-training/train:
    post:
      tags:
      - Tools
      summary: Tool Vision Training Train
      description: "Performs object detection using custom trained models deployed on the\nLanding AI platform.\n\nArgs:\n    request (Request): The FastAPI request containing headers.\n    data (TrainRequest): The input request containing the training parameters.\n\nReturns:\n    TrainingResponseData | JSONResponse\n        Details of the created training job, or error response."
      operationId: tool_vision_training_train_v1_tools_vision_training_train_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Basic Auth: []
  /v1/tools/vision-training/jobs:
    get:
      tags:
      - Tools
      summary: Tool Vision Training Get Jobs
      description: "Gets the list of vision training jobs for the authenticated user.\n\nArgs:\n    request (Request): The FastAPI request containing headers.\n\nReturns:\n    JobsListResponseData | JSONResponse\n        List of training job identifiers, or error response."
      operationId: tool_vision_training_get_jobs_v1_tools_vision_training_jobs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListResponseData'
      security:
      - Basic Auth: []
  /v1/tools/vision-training/jobs/{job_id}/status:
    get:
      tags:
      - Tools
      summary: Tool Vision Training Get Job Status
      description: "Gets the status of a vision training job.\n\nArgs:\n    request (Request): The FastAPI request containing headers.\n    job_id (str): The identifier of the training job to check status for.\n\nReturns:\n    JobStatusResponseData | JSONResponse\n        Status details of the training job, or error response."
      operationId: tool_vision_training_get_job_status_v1_tools_vision_training_jobs__job_id__status_get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: Training job identifier
          title: Job Id
        description: Training job identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/vision-training/jobs/{job_id}/results:
    get:
      tags:
      - Tools
      summary: Tool Vision Training Get Job Results
      description: "Gets the results of a completed vision training job.\n\nArgs:\n    request (Request): The FastAPI request containing headers.\n    job_id (str): The identifier of the training job to get results for.\n\nReturns:\n    JobResultsResponseData | JSONResponse\n        Download URLs for the trained model and performance report, or error\n        response."
      operationId: tool_vision_training_get_job_results_v1_tools_vision_training_jobs__job_id__results_get
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: Training job identifier
          title: Job Id
        description: Training job identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResultsResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/vision-training/jobs/{job_id}:
    delete:
      tags:
      - Tools
      summary: Tool Vision Training Delete Job
      description: "Deletes a vision training job.\n\nArgs:\n    request (Request): The FastAPI request containing headers.\n    job_id (str): The identifier of the training job to delete.\n\nReturns:\n    JobDeleteResponseData | JSONResponse\n        Confirmation message for successful deletion, or error response."
      operationId: tool_vision_training_delete_job_v1_tools_vision_training_jobs__job_id__delete
      security:
      - Basic Auth: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: Training job identifier
          title: Job Id
        description: Training job identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDeleteResponseData'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/tools/vision-training/auto-label:
    post:
      tags:
      - Tools
[...]
