openapi: 3.2.0
info:
  title: LandingLens Model API
  description: '**LandingLens API** is a RESTful API that allows you to use LandingLens programmatically.'
  version: 0.1.0
servers:
- url: https://api.landing.ai
  description: Production environment
tags:
- name: Model
paths:
  /v1/projects/{project_id}/models:
    get:
      tags:
      - Model
      summary: Get Models
      operationId: get_models_v1_projects__project_id__models_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/models/{model_id}:
    get:
      tags:
      - Model
      summary: Get Single Model
      operationId: get_single_model_v1_projects__project_id__models__model_id__get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Model Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/models/{model_id}/download:
    post:
      tags:
      - Model
      summary: Get Model Download Url
      operationId: get_model_download_url_v1_projects__project_id__models__model_id__download_post
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Model Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ModelDownloadRequest'
              - type: 'null'
              title: Payload
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelDownloadResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ModelDownloadResponse:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/ModelDownload'
          - type: 'null'
      type: object
      required:
      - data
      title: ModelDownloadResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ModelDownloadRequest:
      properties:
        threshold:
          type: number
          title: Threshold
      type: object
      required:
      - threshold
      title: ModelDownloadRequest
    ModelResponse:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/ModelItem'
          - type: 'null'
      type: object
      required:
      - data
      title: ModelResponse
    ModelDownload:
      properties:
        downloadUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Downloadurl
        threshold:
          type: number
          title: Threshold
      type: object
      required:
      - threshold
      title: ModelDownload
    ModelsResponse:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/ModelItem'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: ModelsResponse
    ModelItem:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
          description: The model ID
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
      type: object
      required:
      - id
      - name
      title: ModelItem
