openapi: 3.2.0
info:
  title: LandingLens Metadata API
  description: '**LandingLens API** is a RESTful API that allows you to use LandingLens programmatically.'
  version: 0.1.0
servers:
- url: https://api.landing.ai
  description: Production environment
tags:
- name: Metadata
paths:
  /v1/projects/{project_id}/metadata:
    get:
      tags:
      - Metadata
      summary: Get Project Metadata
      operationId: get_project_metadata_v1_projects__project_id__metadata_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_list_MetadataItem__'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Metadata
      summary: Create Metadata
      operationId: create_metadata_v1_projects__project_id__metadata_post
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_MetadataItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/metadata/{metadata_id}:
    post:
      tags:
      - Metadata
      summary: Update Metadata
      operationId: update_metadata_v1_projects__project_id__metadata__metadata_id__post
      parameters:
      - name: metadata_id
        in: path
        required: true
        schema:
          type: integer
          title: Metadata Id
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_MetadataItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    MetadataType:
      type: string
      enum:
      - text
      - number
      - boolean
      title: MetadataType
    BaseResponse_MetadataItem_:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/MetadataItem'
          - type: 'null'
      type: object
      required:
      - data
      title: BaseResponse[MetadataItem]
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    MetadataCreate:
      properties:
        name:
          type: string
          title: Name
        type:
          $ref: '#/components/schemas/MetadataType'
        allowMultiple:
          type: boolean
          title: Allowmultiple
        predefinedChoices:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Predefinedchoices
      type: object
      required:
      - name
      - type
      - allowMultiple
      - predefinedChoices
      title: MetadataCreate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    MetadataItem:
      properties:
        name:
          type: string
          title: Name
        type:
          $ref: '#/components/schemas/MetadataType'
        allowMultiple:
          type: boolean
          title: Allowmultiple
        predefinedChoices:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Predefinedchoices
        id:
          type: integer
          title: Id
        valueFlexible:
          type: boolean
          title: Valueflexible
      type: object
      required:
      - name
      - type
      - allowMultiple
      - predefinedChoices
      - id
      - valueFlexible
      title: MetadataItem
    BaseResponse_list_MetadataItem__:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/MetadataItem'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: BaseResponse[list[MetadataItem]]
    MetadataUpdate:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        allowMultiple:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Allowmultiple
        predefinedChoicesAppend:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Predefinedchoicesappend
        valueFlexible:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Valueflexible
      type: object
      required:
      - allowMultiple
      - predefinedChoicesAppend
      - valueFlexible
      title: MetadataUpdate
