openapi: 3.2.0
info:
  title: LandingLens Snapshot API
  description: '**LandingLens API** is a RESTful API that allows you to use LandingLens programmatically.'
  version: 0.1.0
servers:
- url: https://api.landing.ai
  description: Production environment
tags:
- name: Snapshot
paths:
  /v1/projects/{project_id}/dataset/snapshots:
    get:
      tags:
      - Snapshot
      summary: List Snapshots
      operationId: list_snapshots_v1_projects__project_id__dataset_snapshots_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_list_SnapshotItem__'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/dataset/snapshots/{snapshot_version}/export:
    post:
      tags:
      - Snapshot
      summary: Post Snapshot Export
      operationId: post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post
      parameters:
      - name: snapshot_version
        in: path
        required: true
        schema:
          type: integer
          title: Snapshot Version
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_SnapshotExportItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Snapshot
      summary: Get Snapshot Export
      operationId: get_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_get
      parameters:
      - name: snapshot_version
        in: path
        required: true
        schema:
          type: integer
          title: Snapshot Version
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/SnapshotInput'
              - type: 'null'
              title: Snapshot Input
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_SnapshotExportItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/dataset/snapshots/{snapshot_version}/metadata:
    get:
      tags:
      - Snapshot
      summary: Get Snapshot Metadata
      operationId: get_snapshot_metadata_v1_projects__project_id__dataset_snapshots__snapshot_version__metadata_get
      parameters:
      - name: snapshot_version
        in: path
        required: true
        schema:
          type: integer
          title: Snapshot Version
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/SnapshotInput'
              - type: 'null'
              title: Snapshot Input
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse_SnapshotExportItem_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post:
      properties:
        retry:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Retry
          default: false
      type: object
      title: Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post
    SnapshotExportStatus:
      type: string
      enum:
      - Started
      - In Progress
      - Completed
      - Failed
      title: SnapshotExportStatus
    BaseResponse_list_SnapshotItem__:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/SnapshotItem'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: BaseResponse[list[SnapshotItem]]
    SnapshotItem:
      properties:
        name:
          type: string
          title: Name
        version:
          type: integer
          title: Version
        creationTime:
          type: string
          title: Creationtime
      type: object
      required:
      - name
      - version
      - creationTime
      title: SnapshotItem
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    BaseResponse_SnapshotExportItem_:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/SnapshotExportItem'
          - type: 'null'
      type: object
      required:
      - data
      title: BaseResponse[SnapshotExportItem]
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SnapshotExportItem:
      properties:
        status:
          anyOf:
          - $ref: '#/components/schemas/SnapshotExportStatus'
          - type: 'null'
        downloadUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Downloadurl
        downloadExpiresAt:
          anyOf:
          - type: string
          - type: 'null'
          title: Downloadexpiresat
          readOnly: true
      type: object
      required:
      - downloadExpiresAt
      title: SnapshotExportItem
    SnapshotInput:
      properties:
        signedCsvInfo:
          type: boolean
          title: Signedcsvinfo
          default: false
      type: object
      title: SnapshotInput
