openapi: 3.2.0
info:
  title: LandingLens Project API
  description: '**LandingLens API** is a RESTful API that allows you to use LandingLens programmatically.'
  version: 0.1.0
servers:
- url: https://api.landing.ai
  description: Production environment
tags:
- name: Project
paths:
  /v1/projects:
    get:
      tags:
      - Project
      summary: Get Projects
      operationId: get_projects_v1_projects_get
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Project
      summary: Create Project
      operationId: create_project_v1_projects_post
      parameters:
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}:
    get:
      tags:
      - Project
      summary: Get Project
      operationId: get_project_v1_projects__project_id__get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/active:
    put:
      tags:
      - Project
      summary: Update Active Project
      operationId: update_active_project_v1_projects__project_id__active_put
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IsActiveProject'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ProjectType:
      type: string
      enum:
      - classification
      - object-detection
      - segmentation
      - anomaly-detection
      title: ProjectType
    IsActiveProject:
      properties:
        isActive:
          type: boolean
          title: Isactive
      type: object
      required:
      - isActive
      title: IsActiveProject
    ProjectInput:
      properties:
        name:
          type: string
          title: Name
        projectType:
          $ref: '#/components/schemas/ProjectType'
      type: object
      required:
      - name
      - projectType
      title: ProjectInput
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ProjectsResponse:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/ProjectResponseItem'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: ProjectsResponse
    ProjectResponseItem:
      properties:
        id:
          type: integer
          title: Id
        name:
          type: string
          title: Name
        projectType:
          $ref: '#/components/schemas/ProjectType'
        isActive:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Isactive
        createdAt:
          type: string
          title: Createdat
      type: object
      required:
      - id
      - name
      - projectType
      - createdAt
      title: ProjectResponseItem
    ProjectResponse:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/ProjectResponseItem'
          - type: 'null'
      type: object
      required:
      - data
      title: ProjectResponse
