openapi: 3.2.0
info:
  title: LandingLens Classes API
  description: '**LandingLens API** is a RESTful API that allows you to use LandingLens programmatically.'
  version: 0.1.0
servers:
- url: https://api.landing.ai
  description: Production environment
tags:
- name: Classes
paths:
  /v1/projects/{project_id}/classes:
    post:
      tags:
      - Classes
      summary: Create Classes
      operationId: create_classes_v1_projects__project_id__classes_post
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ClassMap'
              title: Classes
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefectClassResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Classes
      summary: Get Classes
      operationId: get_classes_v1_projects__project_id__classes_get
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: integer
          title: Project Id
      - name: timeout
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 60
          title: Timeout
      - name: apikey
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apikey
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefectClassResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    LabelClass:
      properties:
        id:
          type: integer
          title: Id
        name:
          type: string
          title: Name
        index:
          type: integer
          title: Index
        color:
          anyOf:
          - type: string
          - type: 'null'
          title: Color
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      type: object
      required:
      - id
      - name
      - index
      - color
      - description
      title: LabelClass
    ClassMap:
      properties:
        name:
          type: string
          title: Name
        color:
          anyOf:
          - type: string
          - type: 'null'
          title: Color
        description:
          type: string
          title: Description
          default: ''
      type: object
      required:
      - name
      title: ClassMap
    DefectClassResponse:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/LabelClass'
            type: array
          - type: 'null'
          title: Data
      type: object
      required:
      - data
      title: DefectClassResponse
