{"openapi":"3.1.0","info":{"title":"LandingLens API","description":"\n**LandingLens API** is a RESTful API that allows you to use [LandingLens](https://app.landing.ai) programmatically.\nOur API has predictable resource-oriented URLs, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.\n\nYou can use the LandingLens API to programmatically perform many tasks in LandingLens, including:\n* Create projects\n* Upload images to projects\n* Create classes\n* Train models\n* Deploy models to cloud-endpoints hosted by LandingAI (cloud deployment)\n\n## Tutorial\nCheck out this [tutorial](https://landing-ai.github.io/public-rest-api/tutorial/) to learn the basic workflow for using the LandingLens APIs.\n","version":"0.1.0"},"servers":[{"url":"https://api.landing.ai","description":"Production environment"}],"paths":{"/v1/projects/{project_id}/images/{image_id}":{"get":{"tags":["Image"],"summary":"Get Project Metadata","operationId":"get_project_metadata_v1_projects__project_id__images__image_id__get","parameters":[{"name":"image_id","in":"path","required":true,"schema":{"type":"integer","title":"Image Id"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_ImageDetail_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/images":{"post":{"tags":["Image"],"summary":"Upload Image","operationId":"upload_image_v1_projects__project_id__images_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_upload_image_v1_projects__project_id__images_post"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_Image_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects":{"get":{"tags":["Project"],"summary":"Get Projects","operationId":"get_projects_v1_projects_get","parameters":[{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Project"],"summary":"Create Project","operationId":"create_project_v1_projects_post","parameters":[{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectInput"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}":{"get":{"tags":["Project"],"summary":"Get Project","operationId":"get_project_v1_projects__project_id__get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/active":{"put":{"tags":["Project"],"summary":"Update Active Project","operationId":"update_active_project_v1_projects__project_id__active_put","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IsActiveProject"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/train":{"post":{"tags":["Training"],"summary":"Create Training Job","operationId":"create_training_job_v1_projects__project_id__train_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/TrainItem"},{"type":"null"}],"title":"Training Config Request"},"examples":{"classification":{"summary":"train classification model","value":{"model":{"architecture":"ConvNext-[16M]","hyperParams":{"epochs":20}},"transforms":{"preprocessing":[{"rescaleWithPadding":{"height":896,"width":1280,"paddingValue":0}}],"augmentations":[{"horizontalFlip":{"p":0.5}},{"randAugment":{"numberTransforms":2,"magnitude":4}}]}}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_TrainingResponseData_"},"example":{"data":"edcfea45-33b5-4a52-8625-94d156e63fb3"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Training"],"summary":"Get Training List","operationId":"get_training_list_v1_projects__project_id__train_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_TrainingItem__"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/train/{training_id}/status":{"get":{"tags":["Training"],"summary":"Get Training Status","operationId":"get_training_status_v1_projects__project_id__train__training_id__status_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"training_id","in":"path","required":true,"schema":{"type":"string","title":"Training Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_TrainingStatus_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/train/architectures":{"get":{"tags":["Training"],"summary":"Get Train Archs","operationId":"get_train_archs_v1_projects__project_id__train_architectures_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_ArchItem__"},"examples":{"classification":{"summary":"classification project","value":{"data":[{"name":"ConvNext-[16M]"},{"name":"ConvNext-[29M]"}]}},"object_detection":{"summary":"object detection project","value":{"data":[{"name":"RtmDet-[9M]"},{"name":"RepPoints-[20M]"},{"name":"RepPoints-[37M]"}]}},"segmentation":{"summary":"segmentation project","value":{"data":[{"name":"SegFormer-[14M]"},{"name":"FastVit-[14M]"}]}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/classes":{"post":{"tags":["Classes"],"summary":"Create Classes","operationId":"create_classes_v1_projects__project_id__classes_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ClassMap"},"title":"Classes"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefectClassResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Classes"],"summary":"Get Classes","operationId":"get_classes_v1_projects__project_id__classes_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefectClassResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/autosplit":{"post":{"tags":["Training"],"summary":"Auto Split","operationId":"auto_split_v1_projects__project_id__autosplit_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoSplitBody"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/models":{"get":{"tags":["Model"],"summary":"Get Models","operationId":"get_models_v1_projects__project_id__models_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/models/{model_id}":{"get":{"tags":["Model"],"summary":"Get Single Model","operationId":"get_single_model_v1_projects__project_id__models__model_id__get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"model_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Model Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/models/{model_id}/download":{"post":{"tags":["Model"],"summary":"Get Model Download Url","operationId":"get_model_download_url_v1_projects__project_id__models__model_id__download_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"model_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Model Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ModelDownloadRequest"},{"type":"null"}],"title":"Payload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelDownloadResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/deployments":{"post":{"tags":["Deployment"],"summary":"Create Deployment","description":"This endpoint creates a deployment, which is an instance for running a\nmodel and performing predictions.\n\nTo create a deployment, you only need to provide a unique name. Upon\nsuccessful creation, the endpoint will return an HTTP URL where you can\nsend requests for predictions (also known as inferences).\n\nThe deployment name cannot be changed after creation.\n\nHere's a breakdown of the deployment creation options:\n\n**Model** (Optional): You can either:\n\n- Provide the model data during deployment creation, making it ready to use\nimmediately.\n- Upload a model to the deployment later and then use it for predictions.\n\n\n**Threshold** (Optional):\n\n- Specify a custom threshold value for your\npredictions.\n- If not provided, the default value used during model training will be\napplied.","operationId":"create_deployment_v1_projects__project_id__deployments_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentInput"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_DeploymentItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Deployment"],"summary":"Get Deployments","operationId":"get_deployments_v1_projects__project_id__deployments_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_DeploymentItem__"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/deployments/{deployment_id}":{"put":{"tags":["Deployment"],"summary":"Update Deployment","description":"You can update a deployment by providing one or both of the following:\n- A new model to be used for predictions.\n- A new threshold value to be used for classifying predictions.\n\nAt least one of these values must be provided for a successful update.\n\nUpdating the threshold value with a model already deployed has the\nfollowing behavior:\n- If you specify a new threshold value, it will override the model's\ndefault threshold.\n- If you don't specify a new threshold value, the model's default\nthreshold will be used.\n\nUpdating the deployment with a new model affects the threshold value as\nfollows:\n- If you specify a new threshold value along with the new model, the new\nthreshold will be used.\n- If you don't specify a new threshold value, the threshold associated\nwith the new model will be used.","operationId":"update_deployment_v1_projects__project_id__deployments__deployment_id__put","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"deployment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Deployment Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentUpdateInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_DeploymentItem_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Deployment"],"summary":"Get Single Deployment","operationId":"get_single_deployment_v1_projects__project_id__deployments__deployment_id__get","parameters":[{"name":"deployment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Deployment Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_DeploymentItem_"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/train/{training_id}/results/metrics":{"get":{"tags":["Training"],"summary":"Get Metrics Summary For All Splits","operationId":"get_metrics_summary_for_all_splits_v1_projects__project_id__train__training_id__results_metrics_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"training_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Training Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricsSummaryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/train/{training_id}/results/confusion-matrix":{"get":{"tags":["Training"],"summary":"Get Confusion Matrix For All Splits","operationId":"get_confusion_matrix_for_all_splits_v1_projects__project_id__train__training_id__results_confusion_matrix_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"training_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Training Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfusionMetricsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/dataset/snapshots":{"get":{"tags":["Snapshot"],"summary":"List Snapshots","operationId":"list_snapshots_v1_projects__project_id__dataset_snapshots_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_SnapshotItem__"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/dataset/snapshots/{snapshot_version}/export":{"post":{"tags":["Snapshot"],"summary":"Post Snapshot Export","operationId":"post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post","parameters":[{"name":"snapshot_version","in":"path","required":true,"schema":{"type":"integer","title":"Snapshot Version"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post"}],"title":"Body"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_SnapshotExportItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Snapshot"],"summary":"Get Snapshot Export","operationId":"get_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_get","parameters":[{"name":"snapshot_version","in":"path","required":true,"schema":{"type":"integer","title":"Snapshot Version"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SnapshotInput"},{"type":"null"}],"title":"Snapshot Input"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_SnapshotExportItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/dataset/snapshots/{snapshot_version}/metadata":{"get":{"tags":["Snapshot"],"summary":"Get Snapshot Metadata","operationId":"get_snapshot_metadata_v1_projects__project_id__dataset_snapshots__snapshot_version__metadata_get","parameters":[{"name":"snapshot_version","in":"path","required":true,"schema":{"type":"integer","title":"Snapshot Version"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SnapshotInput"},{"type":"null"}],"title":"Snapshot Input"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_SnapshotExportItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/metadata":{"get":{"tags":["Metadata"],"summary":"Get Project Metadata","operationId":"get_project_metadata_v1_projects__project_id__metadata_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_MetadataItem__"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Metadata"],"summary":"Create Metadata","operationId":"create_metadata_v1_projects__project_id__metadata_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_MetadataItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/metadata/{metadata_id}":{"post":{"tags":["Metadata"],"summary":"Update Metadata","operationId":"update_metadata_v1_projects__project_id__metadata__metadata_id__post","parameters":[{"name":"metadata_id","in":"path","required":true,"schema":{"type":"integer","title":"Metadata Id"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_MetadataItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/images/metadata":{"post":{"tags":["Image"],"summary":"Append Metadata To Media List","operationId":"append_metadata_to_media_list_v1_projects__project_id__images_metadata_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageMetadataAssign"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_ImageMetadata__"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/images/{image_id}/metadata":{"post":{"tags":["Image"],"summary":"Replace image metadata","operationId":"update_media_metadata_v1_projects__project_id__images__image_id__metadata_post","parameters":[{"name":"image_id","in":"path","required":true,"schema":{"type":"integer","title":"Image Id"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageMetadataReplace"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_ImageMetadata_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/tags":{"get":{"tags":["Tags"],"summary":"Get Project Tags","operationId":"get_project_tags_v1_projects__project_id__tags_get","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_TagItem__"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Tags"],"summary":"Create Project Tag","operationId":"create_project_tag_v1_projects__project_id__tags_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagBase"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_TagItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/tags/{tag_id}":{"post":{"tags":["Tags"],"summary":"Update Project Tag","operationId":"update_project_tag_v1_projects__project_id__tags__tag_id__post","parameters":[{"name":"tag_id","in":"path","required":true,"schema":{"type":"integer","title":"Tag Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagBase"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_TagItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/projects/{project_id}/images/tags":{"post":{"tags":["Image"],"summary":"Append Tags To Media List","operationId":"append_tags_to_media_list_v1_projects__project_id__images_tags_post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"integer","title":"Project Id"}},{"name":"timeout","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":60,"title":"Timeout"}},{"name":"apikey","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageTagAssign"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseResponse_list_TagItem__"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"ArchItem":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"ArchItem"},"AutoSplitBody":{"properties":{"splitPercentages":{"$ref":"#/components/schemas/SplitPercentages"},"selectOption":{"allOf":[{"$ref":"#/components/schemas/AutoSplitOptions"}],"description":"`all-labeled` takes all labeled images, whether they have a split or not.\nThis option modifies the splits, which can be risky and inconvenient if you manually assigned the splits, as it will override your work.\n\n`without-split` only takes the labeled images that do not yet have a split. It does not modify the splits already assigned to the images that previously had splits."}},"type":"object","required":["splitPercentages","selectOption"],"title":"AutoSplitBody"},"AutoSplitOptions":{"type":"string","enum":["all-labeled","without-split"],"title":"AutoSplitOptions"},"BaseResponse_DeploymentItem_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/DeploymentItem"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[DeploymentItem]"},"BaseResponse_ImageDetail_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/ImageDetail"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[ImageDetail]"},"BaseResponse_ImageMetadata_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/ImageMetadata"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[ImageMetadata]"},"BaseResponse_Image_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/Image"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[Image]"},"BaseResponse_MetadataItem_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/MetadataItem"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[MetadataItem]"},"BaseResponse_SnapshotExportItem_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/SnapshotExportItem"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[SnapshotExportItem]"},"BaseResponse_TagItem_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/TagItem"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[TagItem]"},"BaseResponse_TrainingResponseData_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/TrainingResponseData"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[TrainingResponseData]"},"BaseResponse_TrainingStatus_":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/TrainingStatus"},{"type":"null"}]}},"type":"object","required":["data"],"title":"BaseResponse[TrainingStatus]"},"BaseResponse_list_ArchItem__":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/ArchItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"BaseResponse[list[ArchItem]]"},"BaseResponse_list_DeploymentItem__":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/DeploymentItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"BaseResponse[list[DeploymentItem]]"},"BaseResponse_list_ImageMetadata__":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/ImageMetadata"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"BaseResponse[list[ImageMetadata]]"},"BaseResponse_list_MetadataItem__":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/MetadataItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"BaseResponse[list[MetadataItem]]"},"BaseResponse_list_SnapshotItem__":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/SnapshotItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"BaseResponse[list[SnapshotItem]]"},"BaseResponse_list_TagItem__":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/TagItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"BaseResponse[list[TagItem]]"},"BaseResponse_list_TrainingItem__":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/TrainingItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"BaseResponse[list[TrainingItem]]"},"Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post":{"properties":{"retry":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Retry","default":false}},"type":"object","title":"Body_post_snapshot_export_v1_projects__project_id__dataset_snapshots__snapshot_version__export_post"},"Body_upload_image_v1_projects__project_id__images_post":{"properties":{"file":{"type":"string","format":"binary","title":"File"},"name":{"type":"string","title":"Name"},"label":{"anyOf":[{"type":"string","format":"binary"},{"type":"string"},{"type":"null"}],"title":"Label"},"split":{"anyOf":[{"$ref":"#/components/schemas/SplitEnum"},{"type":"null"}]},"tags":{"items":{"type":"string"},"type":"array","title":"Tags"},"nothing_to_label":{"type":"boolean","title":"Nothing To Label","default":false},"metadata":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Metadata"}},"type":"object","required":["file","name"],"title":"Body_upload_image_v1_projects__project_id__images_post"},"ClassMap":{"properties":{"name":{"type":"string","title":"Name"},"color":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Color"},"description":{"type":"string","title":"Description","default":""}},"type":"object","required":["name"],"title":"ClassMap"},"ClassMetrics":{"properties":{"id":{"type":"integer","title":"Id","description":"The class id"},"performance":{"type":"number","title":"Performance"},"recall":{"type":"number","title":"Recall"},"precision":{"type":"number","title":"Precision"}},"type":"object","required":["id","performance","recall","precision"],"title":"ClassMetrics"},"ConfusionMatrix":{"properties":{"name":{"type":"string","title":"Name"},"correctPredictions":{"items":{"$ref":"#/components/schemas/PredictionItem"},"type":"array","title":"Correctpredictions"},"falseNegativePredictions":{"items":{"$ref":"#/components/schemas/PredictionItem"},"type":"array","title":"Falsenegativepredictions"},"falsePositivePredictions":{"items":{"$ref":"#/components/schemas/PredictionItem"},"type":"array","title":"Falsepositivepredictions"},"misclassifications":{"items":{"$ref":"#/components/schemas/PredictionItem"},"type":"array","title":"Misclassifications"}},"type":"object","required":["name","correctPredictions","falseNegativePredictions","falsePositivePredictions","misclassifications"],"title":"ConfusionMatrix"},"ConfusionMetricsResponse":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/ConfusionMatrix"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"ConfusionMetricsResponse"},"DefectClassResponse":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/LabelClass"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"DefectClassResponse"},"DeploymentInput":{"properties":{"name":{"type":"string","title":"Name"},"modelId":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Modelid"},"threshold":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Threshold"}},"type":"object","required":["name"],"title":"DeploymentInput"},"DeploymentItem":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id"},"predictionUrl":{"type":"string","title":"Predictionurl"},"name":{"type":"string","title":"Name"},"modelId":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Modelid"},"threshold":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Threshold"}},"type":"object","required":["id","predictionUrl","name"],"title":"DeploymentItem"},"DeploymentUpdateInput":{"properties":{"modelId":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Modelid"},"threshold":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Threshold"}},"type":"object","title":"DeploymentUpdateInput"},"ErrorMessage":{"properties":{"message":{"type":"string","title":"Message"}},"type":"object","required":["message"],"title":"ErrorMessage"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Image":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"uploadTime":{"type":"string","title":"Uploadtime"}},"type":"object","required":["id","name","uploadTime"],"title":"Image"},"ImageDetail":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"uploadTime":{"type":"string","title":"Uploadtime"},"metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metadata"},"tagIds":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Tagids"}},"type":"object","required":["id","name","uploadTime","metadata","tagIds"],"title":"ImageDetail"},"ImageMetadata":{"properties":{"metadata":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"string"},{"type":"integer"},{"items":{"type":"string"},"type":"array"},{"items":{"type":"integer"},"type":"array"}]},"type":"object","title":"Metadata"},"mediaId":{"type":"integer","title":"Mediaid"}},"type":"object","required":["metadata","mediaId"],"title":"ImageMetadata"},"ImageMetadataAssign":{"properties":{"metadataAppend":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"string"},{"type":"integer"},{"items":{"type":"string"},"type":"array"},{"items":{"type":"integer"},"type":"array"}]},"type":"object","title":"Metadataappend"},"mediaIds":{"items":{"type":"integer"},"type":"array","title":"Mediaids"},"allMedia":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Allmedia","default":false}},"type":"object","required":["metadataAppend","mediaIds"],"title":"ImageMetadataAssign"},"ImageMetadataReplace":{"properties":{"metadata":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"string"},{"type":"integer"},{"items":{"type":"string"},"type":"array"},{"items":{"type":"integer"},"type":"array"}]},"type":"object","title":"Metadata"}},"type":"object","required":["metadata"],"title":"ImageMetadataReplace"},"ImageTagAssign":{"properties":{"tagNames":{"items":{"type":"string"},"type":"array","title":"Tagnames"},"mediaIds":{"items":{"type":"integer"},"type":"array","title":"Mediaids"},"allMedia":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Allmedia","default":false}},"type":"object","required":["tagNames","mediaIds"],"title":"ImageTagAssign"},"IsActiveProject":{"properties":{"isActive":{"type":"boolean","title":"Isactive"}},"type":"object","required":["isActive"],"title":"IsActiveProject"},"JobStatus":{"type":"string","enum":["CREATED","STARTING","TRAINING","EVALUATING","PUBLISHING","SUCCEEDED","FAILED"],"title":"JobStatus"},"LabelClass":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"index":{"type":"integer","title":"Index"},"color":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Color"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["id","name","index","color","description"],"title":"LabelClass"},"MetadataCreate":{"properties":{"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/MetadataType"},"allowMultiple":{"type":"boolean","title":"Allowmultiple"},"predefinedChoices":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Predefinedchoices"}},"type":"object","required":["name","type","allowMultiple","predefinedChoices"],"title":"MetadataCreate"},"MetadataItem":{"properties":{"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/MetadataType"},"allowMultiple":{"type":"boolean","title":"Allowmultiple"},"predefinedChoices":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Predefinedchoices"},"id":{"type":"integer","title":"Id"},"valueFlexible":{"type":"boolean","title":"Valueflexible"}},"type":"object","required":["name","type","allowMultiple","predefinedChoices","id","valueFlexible"],"title":"MetadataItem"},"MetadataType":{"type":"string","enum":["text","number","boolean"],"title":"MetadataType"},"MetadataUpdate":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"allowMultiple":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Allowmultiple"},"predefinedChoicesAppend":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Predefinedchoicesappend"},"valueFlexible":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Valueflexible"}},"type":"object","required":["allowMultiple","predefinedChoicesAppend","valueFlexible"],"title":"MetadataUpdate"},"Metric":{"properties":{"name":{"type":"string","title":"Name"},"performance":{"type":"number","title":"Performance"},"recall":{"type":"number","title":"Recall"},"precision":{"type":"number","title":"Precision"}},"type":"object","required":["name","performance","recall","precision"],"title":"Metric"},"MetricsSummary":{"properties":{"name":{"type":"string","title":"Name","description":"The split name"},"classes":{"anyOf":[{"items":{"$ref":"#/components/schemas/ClassMetrics"},"type":"array"},{"type":"null"}],"title":"Classes"},"metrics":{"anyOf":[{"items":{"$ref":"#/components/schemas/Metric"},"type":"array"},{"type":"null"}],"title":"Metrics"}},"type":"object","required":["name","classes","metrics"],"title":"MetricsSummary"},"MetricsSummaryResponse":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/MetricsSummary"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"MetricsSummaryResponse"},"ModelDownload":{"properties":{"downloadUrl":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Downloadurl"},"threshold":{"type":"number","title":"Threshold"}},"type":"object","required":["threshold"],"title":"ModelDownload"},"ModelDownloadRequest":{"properties":{"threshold":{"type":"number","title":"Threshold"}},"type":"object","required":["threshold"],"title":"ModelDownloadRequest"},"ModelDownloadResponse":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/ModelDownload"},{"type":"null"}]}},"type":"object","required":["data"],"title":"ModelDownloadResponse"},"ModelItem":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id","description":"The model ID"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"}},"type":"object","required":["id","name"],"title":"ModelItem"},"ModelResponse":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/ModelItem"},{"type":"null"}]}},"type":"object","required":["data"],"title":"ModelResponse"},"ModelsResponse":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModelItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"ModelsResponse"},"PredictionItem":{"properties":{"count":{"type":"integer","title":"Count"},"groundTruthClassId":{"type":"integer","title":"Groundtruthclassid"},"predictedClassId":{"type":"integer","title":"Predictedclassid"}},"type":"object","required":["count","groundTruthClassId","predictedClassId"],"title":"PredictionItem"},"ProjectInput":{"properties":{"name":{"type":"string","title":"Name"},"projectType":{"$ref":"#/components/schemas/ProjectType"}},"type":"object","required":["name","projectType"],"title":"ProjectInput"},"ProjectResponse":{"properties":{"data":{"anyOf":[{"$ref":"#/components/schemas/ProjectResponseItem"},{"type":"null"}]}},"type":"object","required":["data"],"title":"ProjectResponse"},"ProjectResponseItem":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"projectType":{"$ref":"#/components/schemas/ProjectType"},"isActive":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Isactive"},"createdAt":{"type":"string","title":"Createdat"}},"type":"object","required":["id","name","projectType","createdAt"],"title":"ProjectResponseItem"},"ProjectType":{"type":"string","enum":["classification","object-detection","segmentation","anomaly-detection"],"title":"ProjectType"},"ProjectsResponse":{"properties":{"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/ProjectResponseItem"},"type":"array"},{"type":"null"}],"title":"Data"}},"type":"object","required":["data"],"title":"ProjectsResponse"},"SnapshotExportItem":{"properties":{"status":{"anyOf":[{"$ref":"#/components/schemas/SnapshotExportStatus"},{"type":"null"}]},"downloadUrl":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Downloadurl"},"downloadExpiresAt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Downloadexpiresat","readOnly":true}},"type":"object","required":["downloadExpiresAt"],"title":"SnapshotExportItem"},"SnapshotExportStatus":{"type":"string","enum":["Started","In Progress","Completed","Failed"],"title":"SnapshotExportStatus"},"SnapshotInput":{"properties":{"signedCsvInfo":{"type":"boolean","title":"Signedcsvinfo","default":false}},"type":"object","title":"SnapshotInput"},"SnapshotItem":{"properties":{"name":{"type":"string","title":"Name"},"version":{"type":"integer","title":"Version"},"creationTime":{"type":"string","title":"Creationtime"}},"type":"object","required":["name","version","creationTime"],"title":"SnapshotItem"},"SplitEnum":{"type":"string","enum":["train","dev","test"],"title":"SplitEnum"},"SplitPercentages":{"properties":{"train":{"type":"integer","title":"Train"},"dev":{"type":"integer","title":"Dev"},"test":{"type":"integer","title":"Test"}},"type":"object","required":["train","dev","test"],"title":"SplitPercentages"},"TagBase":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"TagBase"},"TagItem":{"properties":{"name":{"type":"string","title":"Name"},"id":{"type":"integer","title":"Id"},"orgId":{"type":"integer","title":"Orgid"},"isArchived":{"type":"boolean","title":"Isarchived"},"createdAt":{"type":"string","title":"Createdat"},"updatedAt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Updatedat"},"color":{"type":"string","title":"Color"}},"type":"object","required":["name","id","orgId","isArchived","createdAt","updatedAt","color"],"title":"TagItem"},"TrainItem":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"model":{"$ref":"#/components/schemas/TrainItemModel"},"transforms":{"$ref":"#/components/schemas/TrainItemTransforms"}},"type":"object","required":["model","transforms"],"title":"TrainItem"},"TrainItemModel":{"properties":{"architecture":{"type":"string","title":"Architecture"},"hyperParams":{"type":"object","title":"Hyperparams"}},"type":"object","required":["architecture","hyperParams"],"title":"TrainItemModel"},"TrainItemTransforms":{"properties":{"preprocessing":{"items":{"additionalProperties":{"type":"object"},"type":"object"},"type":"array","title":"Preprocessing"},"augmentations":{"anyOf":[{"items":{"additionalProperties":{"type":"object"},"type":"object"},"type":"array"},{"type":"null"}],"title":"Augmentations"}},"type":"object","required":["preprocessing"],"title":"TrainItemTransforms"},"TrainingItem":{"properties":{"id":{"type":"string","title":"Id"},"status":{"$ref":"#/components/schemas/JobStatus"}},"type":"object","required":["id","status"],"title":"TrainingItem"},"TrainingResponseData":{"properties":{"trainingId":{"type":"string","title":"Trainingid"}},"type":"object","required":["trainingId"],"title":"TrainingResponseData"},"TrainingStatus":{"properties":{"status":{"$ref":"#/components/schemas/JobStatus"}},"type":"object","required":["status"],"title":"TrainingStatus"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}